<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>AllocAckGrp [type 'Component']</h3>
<p class="description">This repeating group is optionally used for messages with AllocStatus(87) = 2 (Account level reject), to provide details of the individual accounts that were accepted or rejected. In the case of a reject, the reasons for the rejection should be specified. </p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/78.html">
            
                78
            
            </a>
        </td>
        <td>
            <a href="../fields/78.html">
            
                NoAllocs
            
            </a>
        </td>
        <td></td>
        <td class="green center"></td>
        <td>Indicates number of allocation groups to follow.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/79.html">
            
                79
            
            </a>
        </td>
        <td>
            <a href="../fields/79.html">
            
                AllocAccount
            
            </a>
        </td>
        <td>@Acct</td>
        <td class="green center"></td>
        <td>Required if NoAllocs(78) &gt; 0. 
Must be first field in repeating group.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/661.html">
            
                661
            
            </a>
        </td>
        <td>
            <a href="../fields/661.html">
            
                AllocAcctIDSource
            
            </a>
        </td>
        <td>@ActIDSrc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/366.html">
            
                366
            
            </a>
        </td>
        <td>
            <a href="../fields/366.html">
            
                AllocPrice
            
            </a>
        </td>
        <td>@Px</td>
        <td class="green center"></td>
        <td>Used when performing &#34;executed price&#34; vs. &#34;average price&#34; allocations (e.g. Japan). AllocAccount(79) plus AllocPrice(366) form a unique Allocs entry. Used in lieu of AllocAvgPx(153).</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1047.html">
            
                1047
            
            </a>
        </td>
        <td>
            <a href="../fields/1047.html">
            
                AllocPositionEffect
            
            </a>
        </td>
        <td>@AllocPosEfct</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/467.html">
            
                467
            
            </a>
        </td>
        <td>
            <a href="../fields/467.html">
            
                IndividualAllocID
            
            </a>
        </td>
        <td>@IndAllocID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1593.html">
            
                1593
            
            </a>
        </td>
        <td>
            <a href="../fields/1593.html">
            
                ParentAllocID
            
            </a>
        </td>
        <td>@ParentAllocID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1729.html">
            
                1729
            
            </a>
        </td>
        <td>
            <a href="../fields/1729.html">
            
                FirmMnemonic
            
            </a>
        </td>
        <td>@FirmMnem</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1832.html">
            
                1832
            
            </a>
        </td>
        <td>
            <a href="../fields/1832.html">
            
                ClearedIndicator
            
            </a>
        </td>
        <td>@Clrd</td>
        <td class="green center"></td>
        <td>Used to communicate the status of central clearing workflow.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2727.html">
            
                2727
            
            </a>
        </td>
        <td>
            <a href="../fields/2727.html">
            
                AllocLegRefID
            
            </a>
        </td>
        <td>@LegRefID</td>
        <td class="green center"></td>
        <td>The field may not be used in any message where there are no legs.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/AllocRegulatoryTradeIDGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/AllocRegulatoryTradeIDGrp.html">
            
                <b>AllocRegulatoryTradeIDGrp</b>
            
            </a>
        </td>
        <td>RegTrdID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/776.html">
            
                776
            
            </a>
        </td>
        <td>
            <a href="../fields/776.html">
            
                IndividualAllocRejCode
            
            </a>
        </td>
        <td>@IndAllocRejCode</td>
        <td class="green center"></td>
        <td>Required if NoAllocs(78) &gt; 0 and AllocStatus(87) = 2 (Account level reject).</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/NestedParties.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/NestedParties.html">
            
                <b>NestedParties</b>
            
            </a>
        </td>
        <td>Pty</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/161.html">
            
                161
            
            </a>
        </td>
        <td>
            <a href="../fields/161.html">
            
                AllocText
            
            </a>
        </td>
        <td>@Txt</td>
        <td class="green center"></td>
        <td>Can be used here to hold text relating to the rejection of this AllocAccount(366))</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/360.html">
            
                360
            
            </a>
        </td>
        <td>
            <a href="../fields/360.html">
            
                EncodedAllocTextLen
            
            </a>
        </td>
        <td>@EncAllocTextLen</td>
        <td class="green center"></td>
        <td>Must be set if EncodedAllocText(361) field is specified and must immediately precede it.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/361.html">
            
                361
            
            </a>
        </td>
        <td>
            <a href="../fields/361.html">
            
                EncodedAllocText
            
            </a>
        </td>
        <td>@EncAllocText</td>
        <td class="green center"></td>
        <td>Encoded (non-ASCII characters) representation of the AllocText(161) field in the encoded format specified via the MessageEncoding(347) field.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1732.html">
            
                1732
            
            </a>
        </td>
        <td>
            <a href="../fields/1732.html">
            
                FirmAllocText
            
            </a>
        </td>
        <td>@FirmTxt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1733.html">
            
                1733
            
            </a>
        </td>
        <td>
            <a href="../fields/1733.html">
            
                EncodedFirmAllocTextLen
            
            </a>
        </td>
        <td></td>
        <td class="green center"></td>
        <td>Must be set if EncodedFirmAllocText(1734) field is specified and must immediately precede it.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1734.html">
            
                1734
            
            </a>
        </td>
        <td>
            <a href="../fields/1734.html">
            
                EncodedFirmAllocText
            
            </a>
        </td>
        <td></td>
        <td class="green center"></td>
        <td>Encoded (non-ASCII characters) representation of the FirmAllocText(1732) field in the encoded format specified via the MessageEncoding(347) field.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/989.html">
            
                989
            
            </a>
        </td>
        <td>
            <a href="../fields/989.html">
            
                SecondaryIndividualAllocID
            
            </a>
        </td>
        <td>@IndAllocID2</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/993.html">
            
                993
            
            </a>
        </td>
        <td>
            <a href="../fields/993.html">
            
                AllocCustomerCapacity
            
            </a>
        </td>
        <td>@CustCpcty</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/992.html">
            
                992
            
            </a>
        </td>
        <td>
            <a href="../fields/992.html">
            
                IndividualAllocType
            
            </a>
        </td>
        <td>@Typ</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/80.html">
            
                80
            
            </a>
        </td>
        <td>
            <a href="../fields/80.html">
            
                AllocQty
            
            </a>
        </td>
        <td>@Qty</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2515.html">
            
                2515
            
            </a>
        </td>
        <td>
            <a href="../fields/2515.html">
            
                AllocCalculatedCcyQty
            
            </a>
        </td>
        <td>@CalcCcyQty</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1752.html">
            
                1752
            
            </a>
        </td>
        <td>
            <a href="../fields/1752.html">
            
                CustodialLotID
            
            </a>
        </td>
        <td>@CstdlLotID</td>
        <td class="green center"></td>
        <td>Only used for specific lot trades.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1753.html">
            
                1753
            
            </a>
        </td>
        <td>
            <a href="../fields/1753.html">
            
                VersusPurchaseDate
            
            </a>
        </td>
        <td>@VSPDt</td>
        <td class="green center"></td>
        <td>Only used for specific lot trades. If this field is used, either VersusPurchasePrice(1754) or CurrentCostBasis(1755) should be specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1754.html">
            
                1754
            
            </a>
        </td>
        <td>
            <a href="../fields/1754.html">
            
                VersusPurchasePrice
            
            </a>
        </td>
        <td>@VSPPx</td>
        <td class="green center"></td>
        <td>Only used for specific lot trades. If this field is used, VersusPurchaseDate(1753) should be specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1755.html">
            
                1755
            
            </a>
        </td>
        <td>
            <a href="../fields/1755.html">
            
                CurrentCostBasis
            
            </a>
        </td>
        <td>@CurCostBasis</td>
        <td class="green center"></td>
        <td>Only used for specific lot trades. If this field is used, VersusPurchaseDate(1753) should be specified</td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>