<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>DerivativeInstrument [type 'Component']</h3>
<p class="description">None</p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/1214.html">
            
                1214
            
            </a>
        </td>
        <td>
            <a href="../fields/1214.html">
            
                DerivativeSymbol
            
            </a>
        </td>
        <td>@Sym</td>
        <td class="green center"></td>
        <td>Common, &#34;human understood&#34; representation of the security. SecurityID value can be specified if no symbol exists (e.g. non-exchange traded Collective Investment Vehicles)
Use &#34;[N/A]&#34; for products which do not have a symbol.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1215.html">
            
                1215
            
            </a>
        </td>
        <td>
            <a href="../fields/1215.html">
            
                DerivativeSymbolSfx
            
            </a>
        </td>
        <td>@Sfx</td>
        <td class="green center"></td>
        <td>Used in Fixed Income with a value of &#34;WI&#34; to indicate &#34;When Issued&#34; for a security to be reissued under an old CUSIP or ISIN or with a value of &#34;CD&#34; to indicate a EUCP with lump-sum interest rather than discount price.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1216.html">
            
                1216
            
            </a>
        </td>
        <td>
            <a href="../fields/1216.html">
            
                DerivativeSecurityID
            
            </a>
        </td>
        <td>@ID</td>
        <td class="green center"></td>
        <td>Takes precedence in identifying security to counterparty over SecurityAltID block. Requires SecurityIDSource if specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1217.html">
            
                1217
            
            </a>
        </td>
        <td>
            <a href="../fields/1217.html">
            
                DerivativeSecurityIDSource
            
            </a>
        </td>
        <td>@Src</td>
        <td class="green center"></td>
        <td>Required if SecurityID is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/DerivativeSecurityAltIDGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/DerivativeSecurityAltIDGrp.html">
            
                <b>DerivativeSecurityAltIDGrp</b>
            
            </a>
        </td>
        <td>AID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1246.html">
            
                1246
            
            </a>
        </td>
        <td>
            <a href="../fields/1246.html">
            
                DerivativeProduct
            
            </a>
        </td>
        <td>@Prod</td>
        <td class="green center"></td>
        <td>Indicates the type of product the security is associated with (high-level category)</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1228.html">
            
                1228
            
            </a>
        </td>
        <td>
            <a href="../fields/1228.html">
            
                DerivativeProductComplex
            
            </a>
        </td>
        <td>@ProdCmplx</td>
        <td class="green center"></td>
        <td>Identifies an entire suite of products for a given market. In Futures this may be &#34;interest rates&#34;, &#34;agricultural&#34;, &#34;equity indexes&#34;, etc</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1243.html">
            
                1243
            
            </a>
        </td>
        <td>
            <a href="../fields/1243.html">
            
                DerivFlexProductEligibilityIndicator
            
            </a>
        </td>
        <td>@FlexProdElig</td>
        <td class="green center"></td>
        <td>Used to indicate if a product or group of product supports the creation of flexible securities</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1247.html">
            
                1247
            
            </a>
        </td>
        <td>
            <a href="../fields/1247.html">
            
                DerivativeSecurityGroup
            
            </a>
        </td>
        <td>@SecGrp</td>
        <td class="green center"></td>
        <td>An exchange specific name assigned to a group of related securities which may be concurrently affected by market events and actions.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1248.html">
            
                1248
            
            </a>
        </td>
        <td>
            <a href="../fields/1248.html">
            
                DerivativeCFICode
            
            </a>
        </td>
        <td>@CFI</td>
        <td class="green center"></td>
        <td>Indicates the type of security using ISO 10962 standard, Classification of Financial Instruments (CFI code) values. It is recommended that CFICode be used instead of SecurityType for non-Fixed Income instruments.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1249.html">
            
                1249
            
            </a>
        </td>
        <td>
            <a href="../fields/1249.html">
            
                DerivativeSecurityType
            
            </a>
        </td>
        <td>@SecTyp</td>
        <td class="green center"></td>
        <td>It is recommended that CFICode be used instead of SecurityType for non-Fixed Income instruments.
Required for Fixed Income. Refer to Volume 7 - Fixed Income
Futures and Options should be specified using the CFICode[461] field instead of SecurityType[167] (Refer to Volume 7 - Recommendations and Guidelines for Futures and Options Markets.)</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1250.html">
            
                1250
            
            </a>
        </td>
        <td>
            <a href="../fields/1250.html">
            
                DerivativeSecuritySubType
            
            </a>
        </td>
        <td>@SecSubTyp</td>
        <td class="green center"></td>
        <td>Sub-type qualification/identification of the SecurityType (e.g. for SecurityType=MLEG). If specified, SecurityType is required.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1251.html">
            
                1251
            
            </a>
        </td>
        <td>
            <a href="../fields/1251.html">
            
                DerivativeMaturityMonthYear
            
            </a>
        </td>
        <td>@MMY</td>
        <td class="green center"></td>
        <td>Specifies the month and year of maturity. Applicable for standardized derivatives which are typically only referenced by month and year (e.g. S and P futures). Note MaturityDate (a full date) can also be specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1252.html">
            
                1252
            
            </a>
        </td>
        <td>
            <a href="../fields/1252.html">
            
                DerivativeMaturityDate
            
            </a>
        </td>
        <td>@MatDt</td>
        <td class="green center"></td>
        <td>Specifies date of maturity (a full date). Note that standardized derivatives which are typically only referenced by month and year (e.g. S and P futures).may use MaturityMonthYear and or this field.
When using MaturityMonthYear, it is recommended that markets and sell sides report the MaturityDate on all outbound messages as a means of data enrichment.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1253.html">
            
                1253
            
            </a>
        </td>
        <td>
            <a href="../fields/1253.html">
            
                DerivativeMaturityTime
            
            </a>
        </td>
        <td>@MatTm</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1254.html">
            
                1254
            
            </a>
        </td>
        <td>
            <a href="../fields/1254.html">
            
                DerivativeSettleOnOpenFlag
            
            </a>
        </td>
        <td>@OpenCloseSettlFlag</td>
        <td class="green center"></td>
        <td>Indicator to determine if Instrument is Settle on Open.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1255.html">
            
                1255
            
            </a>
        </td>
        <td>
            <a href="../fields/1255.html">
            
                DerivativeInstrmtAssignmentMethod
            
            </a>
        </td>
        <td>@AsgnMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1256.html">
            
                1256
            
            </a>
        </td>
        <td>
            <a href="../fields/1256.html">
            
                DerivativeSecurityStatus
            
            </a>
        </td>
        <td>@Status</td>
        <td class="green center"></td>
        <td>Gives the current state of the instrument</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1276.html">
            
                1276
            
            </a>
        </td>
        <td>
            <a href="../fields/1276.html">
            
                DerivativeIssueDate
            
            </a>
        </td>
        <td>@IssDt</td>
        <td class="green center"></td>
        <td>Date instrument was issued. For Fixed Income IOIs for new issues, specifies the issue date.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1257.html">
            
                1257
            
            </a>
        </td>
        <td>
            <a href="../fields/1257.html">
            
                DerivativeInstrRegistry
            
            </a>
        </td>
        <td>@Rgstry</td>
        <td class="green center"></td>
        <td>The location at which records of ownership are maintained for this instrument, and at which ownership changes must be recorded. Can be used in conjunction with ISIN to address ISIN uniqueness issues.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1258.html">
            
                1258
            
            </a>
        </td>
        <td>
            <a href="../fields/1258.html">
            
                DerivativeCountryOfIssue
            
            </a>
        </td>
        <td>@Ctry</td>
        <td class="green center"></td>
        <td>ISO Country code of instrument issue (e.g. the country portion typically used in ISIN). Can be used in conjunction with non-ISIN SecurityID (e.g. CUSIP for Municipal Bonds without ISIN) to provide uniqueness.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1259.html">
            
                1259
            
            </a>
        </td>
        <td>
            <a href="../fields/1259.html">
            
                DerivativeStateOrProvinceOfIssue
            
            </a>
        </td>
        <td>@StPrv</td>
        <td class="green center"></td>
        <td>A two-character state or province abbreviation.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1260.html">
            
                1260
            
            </a>
        </td>
        <td>
            <a href="../fields/1260.html">
            
                DerivativeLocaleOfIssue
            
            </a>
        </td>
        <td>@Lcl</td>
        <td class="green center"></td>
        <td>The three-character IATA code for a locale (e.g. airport code for Municipal Bonds).</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1261.html">
            
                1261
            
            </a>
        </td>
        <td>
            <a href="../fields/1261.html">
            
                DerivativeStrikePrice
            
            </a>
        </td>
        <td>@StrkPx</td>
        <td class="green center"></td>
        <td>Used for derivatives, such as options and covered warrants</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1262.html">
            
                1262
            
            </a>
        </td>
        <td>
            <a href="../fields/1262.html">
            
                DerivativeStrikeCurrency
            
            </a>
        </td>
        <td>@StrkCcy</td>
        <td class="green center"></td>
        <td>Used for derivatives</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1263.html">
            
                1263
            
            </a>
        </td>
        <td>
            <a href="../fields/1263.html">
            
                DerivativeStrikeMultiplier
            
            </a>
        </td>
        <td>@StrkMult</td>
        <td class="green center"></td>
        <td>Used for derivatives. Multiplier applied to the strike price for the purpose of calculating the settlement value.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1264.html">
            
                1264
            
            </a>
        </td>
        <td>
            <a href="../fields/1264.html">
            
                DerivativeStrikeValue
            
            </a>
        </td>
        <td>@StrkValu</td>
        <td class="green center"></td>
        <td>Used for derivatives. The number of shares/units for the financial instrument involved in the option trade.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1265.html">
            
                1265
            
            </a>
        </td>
        <td>
            <a href="../fields/1265.html">
            
                DerivativeOptAttribute
            
            </a>
        </td>
        <td>@OptAt</td>
        <td class="green center"></td>
        <td>Used for derivatives, such as options and covered warrants to indicate a versioning of the contract when required due to corporate actions to the underlying. Should not be used to indicate type of option - use the CFICode[461] for this purpose.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1266.html">
            
                1266
            
            </a>
        </td>
        <td>
            <a href="../fields/1266.html">
            
                DerivativeContractMultiplier
            
            </a>
        </td>
        <td>@Mult</td>
        <td class="green center"></td>
        <td>For Fixed Income, Convertible Bonds, Derivatives, etc. Note: If used, quantities should be expressed in the &#34;nominal&#34; (e.g. contracts vs. shares) amount.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1438.html">
            
                1438
            
            </a>
        </td>
        <td>
            <a href="../fields/1438.html">
            
                DerivativeContractMultiplierUnit
            
            </a>
        </td>
        <td>@MultTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1442.html">
            
                1442
            
            </a>
        </td>
        <td>
            <a href="../fields/1442.html">
            
                DerivativeFlowScheduleType
            
            </a>
        </td>
        <td>@FlowSchedTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1267.html">
            
                1267
            
            </a>
        </td>
        <td>
            <a href="../fields/1267.html">
            
                DerivativeMinPriceIncrement
            
            </a>
        </td>
        <td>@MinPxIncr</td>
        <td class="green center"></td>
        <td>Minimum price increment for the instrument. Could also be used to represent tick value.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1268.html">
            
                1268
            
            </a>
        </td>
        <td>
            <a href="../fields/1268.html">
            
                DerivativeMinPriceIncrementAmount
            
            </a>
        </td>
        <td>@MinPxIncrAmt</td>
        <td class="green center"></td>
        <td>Minimum price increment amount associated with the MinPriceIncrement [969]. For listed derivatives, the value can be calculated by multiplying MinPriceIncrement by ContractValueFactor [231]</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1269.html">
            
                1269
            
            </a>
        </td>
        <td>
            <a href="../fields/1269.html">
            
                DerivativeUnitOfMeasure
            
            </a>
        </td>
        <td>@UOM</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1270.html">
            
                1270
            
            </a>
        </td>
        <td>
            <a href="../fields/1270.html">
            
                DerivativeUnitOfMeasureQty
            
            </a>
        </td>
        <td>@UOMQty</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1722.html">
            
                1722
            
            </a>
        </td>
        <td>
            <a href="../fields/1722.html">
            
                DerivativeUnitOfMeasureCurrency
            
            </a>
        </td>
        <td>@UOMCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1315.html">
            
                1315
            
            </a>
        </td>
        <td>
            <a href="../fields/1315.html">
            
                DerivativePriceUnitOfMeasure
            
            </a>
        </td>
        <td>@PxUOM</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1316.html">
            
                1316
            
            </a>
        </td>
        <td>
            <a href="../fields/1316.html">
            
                DerivativePriceUnitOfMeasureQty
            
            </a>
        </td>
        <td>@PxUOMQty</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1723.html">
            
                1723
            
            </a>
        </td>
        <td>
            <a href="../fields/1723.html">
            
                DerivativePriceUnitOfMeasureCurrency
            
            </a>
        </td>
        <td>@PxUOMCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1317.html">
            
                1317
            
            </a>
        </td>
        <td>
            <a href="../fields/1317.html">
            
                DerivativeSettlMethod
            
            </a>
        </td>
        <td>@SettlMeth</td>
        <td class="green center"></td>
        <td>Settlement method for a contract. Can be used as an alternative to CFI Code value</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1318.html">
            
                1318
            
            </a>
        </td>
        <td>
            <a href="../fields/1318.html">
            
                DerivativePriceQuoteMethod
            
            </a>
        </td>
        <td>@PxQteMeth</td>
        <td class="green center"></td>
        <td>Method for price quotation</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1319.html">
            
                1319
            
            </a>
        </td>
        <td>
            <a href="../fields/1319.html">
            
                DerivativeValuationMethod
            
            </a>
        </td>
        <td>@ValMeth</td>
        <td class="green center"></td>
        <td>For futures, indicates type of valuation method applied</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1576.html">
            
                1576
            
            </a>
        </td>
        <td>
            <a href="../fields/1576.html">
            
                DerivativePriceQuoteCurrency
            
            </a>
        </td>
        <td>@PxQteCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1320.html">
            
                1320
            
            </a>
        </td>
        <td>
            <a href="../fields/1320.html">
            
                DerivativeListMethod
            
            </a>
        </td>
        <td>@ListMeth</td>
        <td class="green center"></td>
        <td>Indicates whether strikes are pre-listed only or can also be defined via user request</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1321.html">
            
                1321
            
            </a>
        </td>
        <td>
            <a href="../fields/1321.html">
            
                DerivativeCapPrice
            
            </a>
        </td>
        <td>@CapPx</td>
        <td class="green center"></td>
        <td>Used to express the ceiling price of a capped call</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1322.html">
            
                1322
            
            </a>
        </td>
        <td>
            <a href="../fields/1322.html">
            
                DerivativeFloorPrice
            
            </a>
        </td>
        <td>@FlrPx</td>
        <td class="green center"></td>
        <td>Used to express the floor price of a capped put</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1323.html">
            
                1323
            
            </a>
        </td>
        <td>
            <a href="../fields/1323.html">
            
                DerivativePutOrCall
            
            </a>
        </td>
        <td>@PutCall</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2684.html">
            
                2684
            
            </a>
        </td>
        <td>
            <a href="../fields/2684.html">
            
                DerivativeInTheMoneyCondition
            
            </a>
        </td>
        <td>@ITMCond</td>
        <td class="green center"></td>
        <td>Used to express in-the-moneyness behavior in general terms for the option without the use of DerivativeStrikePrice(1261) and DerivativePutOrCall(1323).</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2688.html">
            
                2688
            
            </a>
        </td>
        <td>
            <a href="../fields/2688.html">
            
                DerivativeContraryInstructionEligibilityIndicator
            
            </a>
        </td>
        <td>@CntraryInstEligInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1299.html">
            
                1299
            
            </a>
        </td>
        <td>
            <a href="../fields/1299.html">
            
                DerivativeExerciseStyle
            
            </a>
        </td>
        <td>@ExerStyle</td>
        <td class="green center"></td>
        <td>Type of exercise of a derivatives security</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1225.html">
            
                1225
            
            </a>
        </td>
        <td>
            <a href="../fields/1225.html">
            
                DerivativeOptPayAmount
            
            </a>
        </td>
        <td>@OptPayAmt</td>
        <td class="green center"></td>
        <td>Cash amount indicating the pay out associated with an option. For binary options this is a fixed amount</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1271.html">
            
                1271
            
            </a>
        </td>
        <td>
            <a href="../fields/1271.html">
            
                DerivativeTimeUnit
            
            </a>
        </td>
        <td>@TmUnit</td>
        <td class="green center"></td>
        <td>Used to indicate a time unit for the contract (e.g., days, weeks, months, etc.)</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1272.html">
            
                1272
            
            </a>
        </td>
        <td>
            <a href="../fields/1272.html">
            
                DerivativeSecurityExchange
            
            </a>
        </td>
        <td>@Exch</td>
        <td class="green center"></td>
        <td>Can be used to identify the security.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1273.html">
            
                1273
            
            </a>
        </td>
        <td>
            <a href="../fields/1273.html">
            
                DerivativePositionLimit
            
            </a>
        </td>
        <td>@PosLmt</td>
        <td class="green center"></td>
        <td>Position Limit for the instrument.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1274.html">
            
                1274
            
            </a>
        </td>
        <td>
            <a href="../fields/1274.html">
            
                DerivativeNTPositionLimit
            
            </a>
        </td>
        <td>@NTPosLmt</td>
        <td class="green center"></td>
        <td>Near-term Position Limit for the instrument.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1275.html">
            
                1275
            
            </a>
        </td>
        <td>
            <a href="../fields/1275.html">
            
                DerivativeIssuer
            
            </a>
        </td>
        <td>@Issr</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1277.html">
            
                1277
            
            </a>
        </td>
        <td>
            <a href="../fields/1277.html">
            
                DerivativeEncodedIssuerLen
            
            </a>
        </td>
        <td>@EncIssrLen</td>
        <td class="green center"></td>
        <td>Must be set if EncodedIssuer field is specified and must immediately precede it.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1278.html">
            
                1278
            
            </a>
        </td>
        <td>
            <a href="../fields/1278.html">
            
                DerivativeEncodedIssuer
            
            </a>
        </td>
        <td>@EncIssr</td>
        <td class="green center"></td>
        <td>Encoded (non-ASCII characters) representation of the Issuer field in the encoded format specified via the MessageEncoding field.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1279.html">
            
                1279
            
            </a>
        </td>
        <td>
            <a href="../fields/1279.html">
            
                DerivativeSecurityDesc
            
            </a>
        </td>
        <td>@Desc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1280.html">
            
                1280
            
            </a>
        </td>
        <td>
            <a href="../fields/1280.html">
            
                DerivativeEncodedSecurityDescLen
            
            </a>
        </td>
        <td>@EncSecDescLen</td>
        <td class="green center"></td>
        <td>Must be set if EncodedSecurityDesc field is specified and must immediately precede it.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1281.html">
            
                1281
            
            </a>
        </td>
        <td>
            <a href="../fields/1281.html">
            
                DerivativeEncodedSecurityDesc
            
            </a>
        </td>
        <td>@EncSecDesc</td>
        <td class="green center"></td>
        <td>Encoded (non-ASCII characters) representation of the SecurityDesc field in the encoded format specified via the MessageEncoding field.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/DerivativeSecurityXML.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/DerivativeSecurityXML.html">
            
                <b>DerivativeSecurityXML</b>
            
            </a>
        </td>
        <td>SecXML</td>
        <td class="green center"></td>
        <td>Embedded XML document describing security.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1285.html">
            
                1285
            
            </a>
        </td>
        <td>
            <a href="../fields/1285.html">
            
                DerivativeContractSettlMonth
            
            </a>
        </td>
        <td>@CSetMo</td>
        <td class="green center"></td>
        <td>Must be present for MBS or TBA</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/DerivativeEventsGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/DerivativeEventsGrp.html">
            
                <b>DerivativeEventsGrp</b>
            
            </a>
        </td>
        <td>Evnt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/DerivativeInstrumentParties.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/DerivativeInstrumentParties.html">
            
                <b>DerivativeInstrumentParties</b>
            
            </a>
        </td>
        <td>Pty</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>