<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>DividendConditions [type 'Component']</h3>
<p class="description">The DividendConditions component is a subcomponent of PaymentStream used to specify the conditions&#39; valuations and dates governing the payment of dividends.</p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/42245.html">
            
                42245
            
            </a>
        </td>
        <td>
            <a href="../fields/42245.html">
            
                DividendReinvestmentIndicator
            
            </a>
        </td>
        <td>@RnvstmntInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42246.html">
            
                42246
            
            </a>
        </td>
        <td>
            <a href="../fields/42246.html">
            
                DividendEntitlementEvent
            
            </a>
        </td>
        <td>@EntlmntEvnt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42247.html">
            
                42247
            
            </a>
        </td>
        <td>
            <a href="../fields/42247.html">
            
                DividendAmountType
            
            </a>
        </td>
        <td>@AmtTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42248.html">
            
                42248
            
            </a>
        </td>
        <td>
            <a href="../fields/42248.html">
            
                DividendUnderlierRefID
            
            </a>
        </td>
        <td>@UndlrRefID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/DividendPeriodGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/DividendPeriodGrp.html">
            
                <b>DividendPeriodGrp</b>
            
            </a>
        </td>
        <td>Period</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42249.html">
            
                42249
            
            </a>
        </td>
        <td>
            <a href="../fields/42249.html">
            
                ExtraordinaryDividendPartySide
            
            </a>
        </td>
        <td>@ExtrordSide</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42250.html">
            
                42250
            
            </a>
        </td>
        <td>
            <a href="../fields/42250.html">
            
                ExtraordinaryDividendAmountType
            
            </a>
        </td>
        <td>@ExtrordAmtTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42251.html">
            
                42251
            
            </a>
        </td>
        <td>
            <a href="../fields/42251.html">
            
                ExtraordinaryDividendCurrency
            
            </a>
        </td>
        <td>@ExtrordCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42252.html">
            
                42252
            
            </a>
        </td>
        <td>
            <a href="../fields/42252.html">
            
                ExtraordinaryDividendDeterminationMethod
            
            </a>
        </td>
        <td>@ExtrordDtrmnMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/DividendFXTriggerDate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/DividendFXTriggerDate.html">
            
                <b>DividendFXTriggerDate</b>
            
            </a>
        </td>
        <td>FXTrgrDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/DividendAccrualFloatingRate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/DividendAccrualFloatingRate.html">
            
                <b>DividendAccrualFloatingRate</b>
            
            </a>
        </td>
        <td>AcrlFloat</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42253.html">
            
                42253
            
            </a>
        </td>
        <td>
            <a href="../fields/42253.html">
            
                DividendAccrualFixedRate
            
            </a>
        </td>
        <td>@AcrlFixedRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/DividendAccrualPaymentDate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/DividendAccrualPaymentDate.html">
            
                <b>DividendAccrualPaymentDate</b>
            
            </a>
        </td>
        <td>AcrlPmtDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42254.html">
            
                42254
            
            </a>
        </td>
        <td>
            <a href="../fields/42254.html">
            
                DividendCompoundingMethod
            
            </a>
        </td>
        <td>@CmpndgMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42255.html">
            
                42255
            
            </a>
        </td>
        <td>
            <a href="../fields/42255.html">
            
                DividendNumOfIndexUnits
            
            </a>
        </td>
        <td>@NumNdxUnits</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42256.html">
            
                42256
            
            </a>
        </td>
        <td>
            <a href="../fields/42256.html">
            
                DividendCashPercentage
            
            </a>
        </td>
        <td>@CshPctage</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42257.html">
            
                42257
            
            </a>
        </td>
        <td>
            <a href="../fields/42257.html">
            
                DividendCashEquivalentPercentage
            
            </a>
        </td>
        <td>@CshEqvlntPctage</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42258.html">
            
                42258
            
            </a>
        </td>
        <td>
            <a href="../fields/42258.html">
            
                NonCashDividendTreatment
            
            </a>
        </td>
        <td>@NonCshTrtmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42259.html">
            
                42259
            
            </a>
        </td>
        <td>
            <a href="../fields/42259.html">
            
                DividendComposition
            
            </a>
        </td>
        <td>@Cmpstn</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42260.html">
            
                42260
            
            </a>
        </td>
        <td>
            <a href="../fields/42260.html">
            
                SpecialDividendsIndicator
            
            </a>
        </td>
        <td>@SpeclDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42261.html">
            
                42261
            
            </a>
        </td>
        <td>
            <a href="../fields/42261.html">
            
                MaterialDividendsIndicator
            
            </a>
        </td>
        <td>@MtrlDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42262.html">
            
                42262
            
            </a>
        </td>
        <td>
            <a href="../fields/42262.html">
            
                OptionsExchangeDividendsIndicator
            
            </a>
        </td>
        <td>@ExchDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42263.html">
            
                42263
            
            </a>
        </td>
        <td>
            <a href="../fields/42263.html">
            
                AdditionalDividendsIndicator
            
            </a>
        </td>
        <td>@AddtnlDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42264.html">
            
                42264
            
            </a>
        </td>
        <td>
            <a href="../fields/42264.html">
            
                AllDividendsIndicator
            
            </a>
        </td>
        <td>@AllDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>