<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>LegDividendConditions [type 'Component']</h3>
<p class="description">The LegDividendConditions component is a subcomponent of LegPaymentStream used to specify the conditions&#39; valuations and dates governing the payment of dividends.</p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/42337.html">
            
                42337
            
            </a>
        </td>
        <td>
            <a href="../fields/42337.html">
            
                LegDividendReinvestmentIndicator
            
            </a>
        </td>
        <td>@RnvstmntInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42338.html">
            
                42338
            
            </a>
        </td>
        <td>
            <a href="../fields/42338.html">
            
                LegDividendEntitlementEvent
            
            </a>
        </td>
        <td>@EntlmntEvnt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42339.html">
            
                42339
            
            </a>
        </td>
        <td>
            <a href="../fields/42339.html">
            
                LegDividendAmountType
            
            </a>
        </td>
        <td>@AmtTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42340.html">
            
                42340
            
            </a>
        </td>
        <td>
            <a href="../fields/42340.html">
            
                LegDividendUnderlierRefID
            
            </a>
        </td>
        <td>@UndlrRefID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegDividendPeriodGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegDividendPeriodGrp.html">
            
                <b>LegDividendPeriodGrp</b>
            
            </a>
        </td>
        <td>Period</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42341.html">
            
                42341
            
            </a>
        </td>
        <td>
            <a href="../fields/42341.html">
            
                LegExtraordinaryDividendPartySide
            
            </a>
        </td>
        <td>@ExtrordSide</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42342.html">
            
                42342
            
            </a>
        </td>
        <td>
            <a href="../fields/42342.html">
            
                LegExtraordinaryDividendAmountType
            
            </a>
        </td>
        <td>@ExtrordAmtTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42343.html">
            
                42343
            
            </a>
        </td>
        <td>
            <a href="../fields/42343.html">
            
                LegExtraordinaryDividendCurrency
            
            </a>
        </td>
        <td>@ExtrordCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42344.html">
            
                42344
            
            </a>
        </td>
        <td>
            <a href="../fields/42344.html">
            
                LegExtraordinaryDividendDeterminationMethod
            
            </a>
        </td>
        <td>@ExtrordDtrmnMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegDividendFXTriggerDate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegDividendFXTriggerDate.html">
            
                <b>LegDividendFXTriggerDate</b>
            
            </a>
        </td>
        <td>FXTrgrDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegDividendAccrualFloatingRate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegDividendAccrualFloatingRate.html">
            
                <b>LegDividendAccrualFloatingRate</b>
            
            </a>
        </td>
        <td>AcrlFloat</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42345.html">
            
                42345
            
            </a>
        </td>
        <td>
            <a href="../fields/42345.html">
            
                LegDividendAccrualFixedRate
            
            </a>
        </td>
        <td>@AcrlFixedRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegDividendAccrualPaymentDate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegDividendAccrualPaymentDate.html">
            
                <b>LegDividendAccrualPaymentDate</b>
            
            </a>
        </td>
        <td>AcrlPmtDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42346.html">
            
                42346
            
            </a>
        </td>
        <td>
            <a href="../fields/42346.html">
            
                LegDividendCompoundingMethod
            
            </a>
        </td>
        <td>@CmpndgMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42347.html">
            
                42347
            
            </a>
        </td>
        <td>
            <a href="../fields/42347.html">
            
                LegDividendNumOfIndexUnits
            
            </a>
        </td>
        <td>@NumNdxUnits</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42348.html">
            
                42348
            
            </a>
        </td>
        <td>
            <a href="../fields/42348.html">
            
                LegDividendCashPercentage
            
            </a>
        </td>
        <td>@CshPctage</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42349.html">
            
                42349
            
            </a>
        </td>
        <td>
            <a href="../fields/42349.html">
            
                LegDividendCashEquivalentPercentage
            
            </a>
        </td>
        <td>@CshEqvlntPctage</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42350.html">
            
                42350
            
            </a>
        </td>
        <td>
            <a href="../fields/42350.html">
            
                LegNonCashDividendTreatment
            
            </a>
        </td>
        <td>@NonCshTrtmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42351.html">
            
                42351
            
            </a>
        </td>
        <td>
            <a href="../fields/42351.html">
            
                LegDividendComposition
            
            </a>
        </td>
        <td>@Cmpstn</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42352.html">
            
                42352
            
            </a>
        </td>
        <td>
            <a href="../fields/42352.html">
            
                LegSpecialDividendsIndicator
            
            </a>
        </td>
        <td>@SpeclDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42353.html">
            
                42353
            
            </a>
        </td>
        <td>
            <a href="../fields/42353.html">
            
                LegMaterialDividendsIndicator
            
            </a>
        </td>
        <td>@MtrlDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42354.html">
            
                42354
            
            </a>
        </td>
        <td>
            <a href="../fields/42354.html">
            
                LegOptionsExchangeDividendsIndicator
            
            </a>
        </td>
        <td>@ExchDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42355.html">
            
                42355
            
            </a>
        </td>
        <td>
            <a href="../fields/42355.html">
            
                LegAdditionalDividendsIndicator
            
            </a>
        </td>
        <td>@AddtnlDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42356.html">
            
                42356
            
            </a>
        </td>
        <td>
            <a href="../fields/42356.html">
            
                LegAllDividendsIndicator
            
            </a>
        </td>
        <td>@AllDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>