<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>LegPaymentStream [type 'Component']</h3>
<p class="description">The LegPaymentStream component is a subcomponent of the LegStreamGrp used to detail the attributes of a payment stream in a swap.</p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/40279.html">
            
                40279
            
            </a>
        </td>
        <td>
            <a href="../fields/40279.html">
            
                LegPaymentStreamType
            
            </a>
        </td>
        <td>@Typ</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40280.html">
            
                40280
            
            </a>
        </td>
        <td>
            <a href="../fields/40280.html">
            
                LegPaymentStreamMarketRate
            
            </a>
        </td>
        <td>@MktRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40281.html">
            
                40281
            
            </a>
        </td>
        <td>
            <a href="../fields/40281.html">
            
                LegPaymentStreamDelayIndicator
            
            </a>
        </td>
        <td>@DelayInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42399.html">
            
                42399
            
            </a>
        </td>
        <td>
            <a href="../fields/42399.html">
            
                LegPaymentStreamCashSettlIndicator
            
            </a>
        </td>
        <td>@CshSettlInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40282.html">
            
                40282
            
            </a>
        </td>
        <td>
            <a href="../fields/40282.html">
            
                LegPaymentStreamSettlCurrency
            
            </a>
        </td>
        <td>@SettlCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40283.html">
            
                40283
            
            </a>
        </td>
        <td>
            <a href="../fields/40283.html">
            
                LegPaymentStreamDayCount
            
            </a>
        </td>
        <td>@DayCnt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40284.html">
            
                40284
            
            </a>
        </td>
        <td>
            <a href="../fields/40284.html">
            
                LegPaymentStreamAccrualDays
            
            </a>
        </td>
        <td>@AcrlDays</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40285.html">
            
                40285
            
            </a>
        </td>
        <td>
            <a href="../fields/40285.html">
            
                LegPaymentStreamDiscountType
            
            </a>
        </td>
        <td>@DiscTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40286.html">
            
                40286
            
            </a>
        </td>
        <td>
            <a href="../fields/40286.html">
            
                LegPaymentStreamDiscountRate
            
            </a>
        </td>
        <td>@Disc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40287.html">
            
                40287
            
            </a>
        </td>
        <td>
            <a href="../fields/40287.html">
            
                LegPaymentStreamDiscountRateDayCount
            
            </a>
        </td>
        <td>@DiscDayCnt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40288.html">
            
                40288
            
            </a>
        </td>
        <td>
            <a href="../fields/40288.html">
            
                LegPaymentStreamCompoundingMethod
            
            </a>
        </td>
        <td>@CmpndgMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42400.html">
            
                42400
            
            </a>
        </td>
        <td>
            <a href="../fields/42400.html">
            
                LegPaymentStreamCompoundingXIDRef
            
            </a>
        </td>
        <td>@CmpndgXIDRef</td>
        <td class="green center"></td>
        <td>Mutually exclusive with LegPaymentStreamCompoundingFixedRate(42404) or the LegPaymentStreamCompoundingFloatingRate component.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42401.html">
            
                42401
            
            </a>
        </td>
        <td>
            <a href="../fields/42401.html">
            
                LegPaymentStreamCompoundingSpread
            
            </a>
        </td>
        <td>@CmpndgSpread</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42402.html">
            
                42402
            
            </a>
        </td>
        <td>
            <a href="../fields/42402.html">
            
                LegPaymentStreamInterpolationMethod
            
            </a>
        </td>
        <td>@IntrpltnMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42403.html">
            
                42403
            
            </a>
        </td>
        <td>
            <a href="../fields/42403.html">
            
                LegPaymentStreamInterpolationPeriod
            
            </a>
        </td>
        <td>@IntrpltnPeriod</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40289.html">
            
                40289
            
            </a>
        </td>
        <td>
            <a href="../fields/40289.html">
            
                LegPaymentStreamInitialPrincipalExchangeIndicator
            
            </a>
        </td>
        <td>@InitPrncplExchInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40290.html">
            
                40290
            
            </a>
        </td>
        <td>
            <a href="../fields/40290.html">
            
                LegPaymentStreamInterimPrincipalExchangeIndicator
            
            </a>
        </td>
        <td>@IntrmPrncplExchInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40291.html">
            
                40291
            
            </a>
        </td>
        <td>
            <a href="../fields/40291.html">
            
                LegPaymentStreamFinalPrincipalExchangeIndicator
            
            </a>
        </td>
        <td>@FnlPrncplExchInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41549.html">
            
                41549
            
            </a>
        </td>
        <td>
            <a href="../fields/41549.html">
            
                LegPaymentStreamFlatRateIndicator
            
            </a>
        </td>
        <td>@FlatRtInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41550.html">
            
                41550
            
            </a>
        </td>
        <td>
            <a href="../fields/41550.html">
            
                LegPaymentStreamFlatRateAmount
            
            </a>
        </td>
        <td>@FlatRtAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41551.html">
            
                41551
            
            </a>
        </td>
        <td>
            <a href="../fields/41551.html">
            
                LegPaymentStreamFlatRateCurrency
            
            </a>
        </td>
        <td>@FlatRtCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41552.html">
            
                41552
            
            </a>
        </td>
        <td>
            <a href="../fields/41552.html">
            
                LegStreamMaximumPaymentAmount
            
            </a>
        </td>
        <td>@MaxPmtAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41553.html">
            
                41553
            
            </a>
        </td>
        <td>
            <a href="../fields/41553.html">
            
                LegStreamMaximumPaymentCurrency
            
            </a>
        </td>
        <td>@MaxPmtCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41554.html">
            
                41554
            
            </a>
        </td>
        <td>
            <a href="../fields/41554.html">
            
                LegStreamMaximumTransactionAmount
            
            </a>
        </td>
        <td>@MaxTxnAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41555.html">
            
                41555
            
            </a>
        </td>
        <td>
            <a href="../fields/41555.html">
            
                LegStreamMaximumTransactionCurrency
            
            </a>
        </td>
        <td>@MaxTxnCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegPaymentStreamPaymentDates.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegPaymentStreamPaymentDates.html">
            
                <b>LegPaymentStreamPaymentDates</b>
            
            </a>
        </td>
        <td>PmtDts</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegPaymentStreamResetDates.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegPaymentStreamResetDates.html">
            
                <b>LegPaymentStreamResetDates</b>
            
            </a>
        </td>
        <td>ResetDts</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegPaymentStreamFixedRate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegPaymentStreamFixedRate.html">
            
                <b>LegPaymentStreamFixedRate</b>
            
            </a>
        </td>
        <td>Fixed</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegPaymentStreamFloatingRate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegPaymentStreamFloatingRate.html">
            
                <b>LegPaymentStreamFloatingRate</b>
            
            </a>
        </td>
        <td>Float</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42404.html">
            
                42404
            
            </a>
        </td>
        <td>
            <a href="../fields/42404.html">
            
                LegPaymentStreamCompoundingFixedRate
            
            </a>
        </td>
        <td>@CmpndgFixedRt</td>
        <td class="green center"></td>
        <td>Mutually exclusive with LegPaymentStreamCompoundingXIDRef(42400) or the LegPaymentStreamCompoundingFloatingRate component.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegPaymentStreamCompoundingFloatingRate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegPaymentStreamCompoundingFloatingRate.html">
            
                <b>LegPaymentStreamCompoundingFloatingRate</b>
            
            </a>
        </td>
        <td>CmpndgFloat</td>
        <td class="green center"></td>
        <td>Mutually exclusive with LegPaymentStreamCompoundingFixedRate(42404) or the LegPaymentStreamCompoundingXIDRef(42400).</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegPaymentStreamCompoundingDates.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegPaymentStreamCompoundingDates.html">
            
                <b>LegPaymentStreamCompoundingDates</b>
            
            </a>
        </td>
        <td>CmpndgDts</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegPaymentStreamNonDeliverableSettlTerms.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegPaymentStreamNonDeliverableSettlTerms.html">
            
                <b>LegPaymentStreamNonDeliverableSettlTerms</b>
            
            </a>
        </td>
        <td>NonDlvrblTrms</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>