<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>LegPaymentStreamFloatingRate [type 'Component']</h3>
<p class="description">LegPaymentStreamFloatingRate is a subcomponent of the LegPaymentStream component used to report the floating rate attributes of the payment stream.</p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/40331.html">
            
                40331
            
            </a>
        </td>
        <td>
            <a href="../fields/40331.html">
            
                LegPaymentStreamRateIndex
            
            </a>
        </td>
        <td>@Ndx</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40332.html">
            
                40332
            
            </a>
        </td>
        <td>
            <a href="../fields/40332.html">
            
                LegPaymentStreamRateIndexSource
            
            </a>
        </td>
        <td>@NdxSrc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43088.html">
            
                43088
            
            </a>
        </td>
        <td>
            <a href="../fields/43088.html">
            
                LegPaymentStreamRateIndexID
            
            </a>
        </td>
        <td>@NdxID</td>
        <td class="green center"></td>
        <td>Conditionally required when LegPaymentStreamRateIndexIDSource(43089) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43089.html">
            
                43089
            
            </a>
        </td>
        <td>
            <a href="../fields/43089.html">
            
                LegPaymentStreamRateIndexIDSource
            
            </a>
        </td>
        <td>@NdxIDSrc</td>
        <td class="green center"></td>
        <td>Conditionally required when LegPaymentStreamRateIndexID(43088) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40333.html">
            
                40333
            
            </a>
        </td>
        <td>
            <a href="../fields/40333.html">
            
                LegPaymentStreamRateIndexCurveUnit
            
            </a>
        </td>
        <td>@NdxUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when LegPaymentStreamRateIndexCurvePeriod(40334) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40334.html">
            
                40334
            
            </a>
        </td>
        <td>
            <a href="../fields/40334.html">
            
                LegPaymentStreamRateIndexCurvePeriod
            
            </a>
        </td>
        <td>@NdxPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when LegPaymentStreamRateIndexCurveUnit(40333) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41563.html">
            
                41563
            
            </a>
        </td>
        <td>
            <a href="../fields/41563.html">
            
                LegPaymentStreamRateIndex2CurveUnit
            
            </a>
        </td>
        <td>@Ndx2Unit</td>
        <td class="green center"></td>
        <td>Conditionally required when LegPaymentStreamRateIndexCurvePeriod2(41564) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41564.html">
            
                41564
            
            </a>
        </td>
        <td>
            <a href="../fields/41564.html">
            
                LegPaymentStreamRateIndex2CurvePeriod
            
            </a>
        </td>
        <td>@Ndx2Period</td>
        <td class="green center"></td>
        <td>Conditionally required when LegPaymentStreamRateIndexCurveUnit2(41563) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41565.html">
            
                41565
            
            </a>
        </td>
        <td>
            <a href="../fields/41565.html">
            
                LegPaymentStreamRateIndexLocation
            
            </a>
        </td>
        <td>@NdxLctn</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41566.html">
            
                41566
            
            </a>
        </td>
        <td>
            <a href="../fields/41566.html">
            
                LegPaymentStreamRateIndexLevel
            
            </a>
        </td>
        <td>@NdxLvl</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41567.html">
            
                41567
            
            </a>
        </td>
        <td>
            <a href="../fields/41567.html">
            
                LegPaymentStreamRateIndexUnitOfMeasure
            
            </a>
        </td>
        <td>@NdxUOM</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41568.html">
            
                41568
            
            </a>
        </td>
        <td>
            <a href="../fields/41568.html">
            
                LegPaymentStreamSettlLevel
            
            </a>
        </td>
        <td>@SettlLvl</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41569.html">
            
                41569
            
            </a>
        </td>
        <td>
            <a href="../fields/41569.html">
            
                LegPaymentStreamReferenceLevel
            
            </a>
        </td>
        <td>@RefLvl</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41570.html">
            
                41570
            
            </a>
        </td>
        <td>
            <a href="../fields/41570.html">
            
                LegPaymentStreamReferenceLevelUnitOfMeasure
            
            </a>
        </td>
        <td>@RefUOM</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41571.html">
            
                41571
            
            </a>
        </td>
        <td>
            <a href="../fields/41571.html">
            
                LegPaymentStreamReferenceLevelEqualsZeroIndicator
            
            </a>
        </td>
        <td>@RefLvlZero</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40335.html">
            
                40335
            
            </a>
        </td>
        <td>
            <a href="../fields/40335.html">
            
                LegPaymentStreamRateMultiplier
            
            </a>
        </td>
        <td>@RtMult</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40336.html">
            
                40336
            
            </a>
        </td>
        <td>
            <a href="../fields/40336.html">
            
                LegPaymentStreamRateSpread
            
            </a>
        </td>
        <td>@Spread</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41572.html">
            
                41572
            
            </a>
        </td>
        <td>
            <a href="../fields/41572.html">
            
                LegPaymentStreamRateSpreadCurrency
            
            </a>
        </td>
        <td>@SpreadCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41573.html">
            
                41573
            
            </a>
        </td>
        <td>
            <a href="../fields/41573.html">
            
                LegPaymentStreamRateSpreadUnitOfMeasure
            
            </a>
        </td>
        <td>@SpreadUOM</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41574.html">
            
                41574
            
            </a>
        </td>
        <td>
            <a href="../fields/41574.html">
            
                LegPaymentStreamRateConversionFactor
            
            </a>
        </td>
        <td>@RtFctr</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41575.html">
            
                41575
            
            </a>
        </td>
        <td>
            <a href="../fields/41575.html">
            
                LegPaymentStreamRateSpreadType
            
            </a>
        </td>
        <td>@SpreadTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40337.html">
            
                40337
            
            </a>
        </td>
        <td>
            <a href="../fields/40337.html">
            
                LegPaymentStreamRateSpreadPositionType
            
            </a>
        </td>
        <td>@SpreadPosTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40338.html">
            
                40338
            
            </a>
        </td>
        <td>
            <a href="../fields/40338.html">
            
                LegPaymentStreamRateTreatment
            
            </a>
        </td>
        <td>@RtTrtmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40339.html">
            
                40339
            
            </a>
        </td>
        <td>
            <a href="../fields/40339.html">
            
                LegPaymentStreamCapRate
            
            </a>
        </td>
        <td>@CapRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40340.html">
            
                40340
            
            </a>
        </td>
        <td>
            <a href="../fields/40340.html">
            
                LegPaymentStreamCapRateBuySide
            
            </a>
        </td>
        <td>@CapRtBuy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40341.html">
            
                40341
            
            </a>
        </td>
        <td>
            <a href="../fields/40341.html">
            
                LegPaymentStreamCapRateSellSide
            
            </a>
        </td>
        <td>@CapRtSell</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40342.html">
            
                40342
            
            </a>
        </td>
        <td>
            <a href="../fields/40342.html">
            
                LegPaymentStreamFloorRate
            
            </a>
        </td>
        <td>@FlrRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40343.html">
            
                40343
            
            </a>
        </td>
        <td>
            <a href="../fields/40343.html">
            
                LegPaymentStreamFloorRateBuySide
            
            </a>
        </td>
        <td>@FlrRtBuy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40344.html">
            
                40344
            
            </a>
        </td>
        <td>
            <a href="../fields/40344.html">
            
                LegPaymentStreamFloorRateSellSide
            
            </a>
        </td>
        <td>@FlrRtSell</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40345.html">
            
                40345
            
            </a>
        </td>
        <td>
            <a href="../fields/40345.html">
            
                LegPaymentStreamInitialRate
            
            </a>
        </td>
        <td>@InitRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41576.html">
            
                41576
            
            </a>
        </td>
        <td>
            <a href="../fields/41576.html">
            
                LegPaymentStreamLastResetRate
            
            </a>
        </td>
        <td>@LastResetRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41577.html">
            
                41577
            
            </a>
        </td>
        <td>
            <a href="../fields/41577.html">
            
                LegPaymentStreamFinalRate
            
            </a>
        </td>
        <td>@FnlRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40346.html">
            
                40346
            
            </a>
        </td>
        <td>
            <a href="../fields/40346.html">
            
                LegPaymentStreamFinalRateRoundingDirection
            
            </a>
        </td>
        <td>@FnlRtRndDirctn</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40347.html">
            
                40347
            
            </a>
        </td>
        <td>
            <a href="../fields/40347.html">
            
                LegPaymentStreamFinalRatePrecision
            
            </a>
        </td>
        <td>@FnlRtPrcsn</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40348.html">
            
                40348
            
            </a>
        </td>
        <td>
            <a href="../fields/40348.html">
            
                LegPaymentStreamAveragingMethod
            
            </a>
        </td>
        <td>@AvgngMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40349.html">
            
                40349
            
            </a>
        </td>
        <td>
            <a href="../fields/40349.html">
            
                LegPaymentStreamNegativeRateTreatment
            
            </a>
        </td>
        <td>@NegtvRtTrtmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41578.html">
            
                41578
            
            </a>
        </td>
        <td>
            <a href="../fields/41578.html">
            
                LegPaymentStreamCalculationLagPeriod
            
            </a>
        </td>
        <td>@CalcLagPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when LegPaymentStreamCalculationLagUnit(41579) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41579.html">
            
                41579
            
            </a>
        </td>
        <td>
            <a href="../fields/41579.html">
            
                LegPaymentStreamCalculationLagUnit
            
            </a>
        </td>
        <td>@CalcLagUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when LegPaymentStreamCalculationLagPeriod(41578) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42462.html">
            
                42462
            
            </a>
        </td>
        <td>
            <a href="../fields/42462.html">
            
                LegPaymentStreamFirstObservationDateUnadjusted
            
            </a>
        </td>
        <td>@FirstObsvtnDtUnadj</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42463.html">
            
                42463
            
            </a>
        </td>
        <td>
            <a href="../fields/42463.html">
            
                LegPaymentStreamFirstObservationDateRelativeTo
            
            </a>
        </td>
        <td>@FirstObsvtnReltv</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42464.html">
            
                42464
            
            </a>
        </td>
        <td>
            <a href="../fields/42464.html">
            
                LegPaymentStreamFirstObservationDateOffsetDayType
            
            </a>
        </td>
        <td>@FirstObsvtnOfstDayTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41580.html">
            
                41580
            
            </a>
        </td>
        <td>
            <a href="../fields/41580.html">
            
                LegPaymentStreamFirstObservationDateOffsetPeriod
            
            </a>
        </td>
        <td>@FirstObsvtnOfstPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when LegPaymentStreamFirstObservationOffsetUnit(41581) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41581.html">
            
                41581
            
            </a>
        </td>
        <td>
            <a href="../fields/41581.html">
            
                LegPaymentStreamFirstObservationDateOffsetUnit
            
            </a>
        </td>
        <td>@FirstObsvtnOfstUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when LegPaymentStreamFirstObservationOffsetPeriod(41580) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42465.html">
            
                42465
            
            </a>
        </td>
        <td>
            <a href="../fields/42465.html">
            
                LegPaymentStreamFirstObservationDateAdjusted
            
            </a>
        </td>
        <td>@FirstObsvtnDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41582.html">
            
                41582
            
            </a>
        </td>
        <td>
            <a href="../fields/41582.html">
            
                LegPaymentStreamPricingDayType
            
            </a>
        </td>
        <td>@PxngDayTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41583.html">
            
                41583
            
            </a>
        </td>
        <td>
            <a href="../fields/41583.html">
            
                LegPaymentStreamPricingDayDistribution
            
            </a>
        </td>
        <td>@PxngDayDistrib</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41584.html">
            
                41584
            
            </a>
        </td>
        <td>
            <a href="../fields/41584.html">
            
                LegPaymentStreamPricingDayCount
            
            </a>
        </td>
        <td>@PxngDayCnt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41585.html">
            
                41585
            
            </a>
        </td>
        <td>
            <a href="../fields/41585.html">
            
                LegPaymentStreamPricingBusinessCalendar
            
            </a>
        </td>
        <td>@PxngClndr</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41586.html">
            
                41586
            
            </a>
        </td>
        <td>
            <a href="../fields/41586.html">
            
                LegPaymentStreamPricingBusinessDayConvention
            
            </a>
        </td>
        <td>@PxngBizDayCnvtn</td>
        <td class="green center"></td>
        <td>When specified, this overrides the business day convention defined in the LegDateAdjustment component in InstrumentLeg.  The specified values would be specific to the payment stream pricing date.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegPaymentStreamPricingBusinessCenterGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegPaymentStreamPricingBusinessCenterGrp.html">
            
                <b>LegPaymentStreamPricingBusinessCenterGrp</b>
            
            </a>
        </td>
        <td>PxngBizCtr</td>
        <td class="green center"></td>
        <td>When specified, this overrides the business centers defined in the LegDateAdjustment component in InstrumentLeg.  The specified values would be specific to the the payment stream pricing date.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegPaymentStreamPricingDayGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegPaymentStreamPricingDayGrp.html">
            
                <b>LegPaymentStreamPricingDayGrp</b>
            
            </a>
        </td>
        <td>PxngDay</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegPaymentStreamPricingDateGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegPaymentStreamPricingDateGrp.html">
            
                <b>LegPaymentStreamPricingDateGrp</b>
            
            </a>
        </td>
        <td>PxngDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40350.html">
            
                40350
            
            </a>
        </td>
        <td>
            <a href="../fields/40350.html">
            
                LegPaymentStreamInflationLagPeriod
            
            </a>
        </td>
        <td>@LagPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when LegPaymentStreamInflationLagUnit(40351) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40351.html">
            
                40351
            
            </a>
        </td>
        <td>
            <a href="../fields/40351.html">
            
                LegPaymentStreamInflationLagUnit
            
            </a>
        </td>
        <td>@LagUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when LegPaymentStreamInflationLagPeriod(40350) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40352.html">
            
                40352
            
            </a>
        </td>
        <td>
            <a href="../fields/40352.html">
            
                LegPaymentStreamInflationLagDayType
            
            </a>
        </td>
        <td>@LagDayTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40353.html">
            
                40353
            
            </a>
        </td>
        <td>
            <a href="../fields/40353.html">
            
                LegPaymentStreamInflationInterpolationMethod
            
            </a>
        </td>
        <td>@IntrpltnMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40354.html">
            
                40354
            
            </a>
        </td>
        <td>
            <a href="../fields/40354.html">
            
                LegPaymentStreamInflationIndexSource
            
            </a>
        </td>
        <td>@InfltnNdxSrc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40355.html">
            
                40355
            
            </a>
        </td>
        <td>
            <a href="../fields/40355.html">
            
                LegPaymentStreamInflationPublicationSource
            
            </a>
        </td>
        <td>@PublctnSrc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40356.html">
            
                40356
            
            </a>
        </td>
        <td>
            <a href="../fields/40356.html">
            
                LegPaymentStreamInflationInitialIndexLevel
            
            </a>
        </td>
        <td>@InitLvl</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40357.html">
            
                40357
            
            </a>
        </td>
        <td>
            <a href="../fields/40357.html">
            
                LegPaymentStreamInflationFallbackBondApplicable
            
            </a>
        </td>
        <td>@FallbckBond</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40358.html">
            
                40358
            
            </a>
        </td>
        <td>
            <a href="../fields/40358.html">
            
                LegPaymentStreamFRADiscounting
            
            </a>
        </td>
        <td>@FRADisc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42466.html">
            
                42466
            
            </a>
        </td>
        <td>
            <a href="../fields/42466.html">
            
                LegPaymentStreamUnderlierRefID
            
            </a>
        </td>
        <td>@UndlrRefID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegPaymentStreamFormula.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegPaymentStreamFormula.html">
            
                <b>LegPaymentStreamFormula</b>
            
            </a>
        </td>
        <td>Frmla</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegDividendConditions.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegDividendConditions.html">
            
                <b>LegDividendConditions</b>
            
            </a>
        </td>
        <td>DividendConds</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42467.html">
            
                42467
            
            </a>
        </td>
        <td>
            <a href="../fields/42467.html">
            
                LegReturnRateNotionalReset
            
            </a>
        </td>
        <td>@RtnRtNotlReset</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LegReturnRateGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LegReturnRateGrp.html">
            
                <b>LegReturnRateGrp</b>
            
            </a>
        </td>
        <td>RtnRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42468.html">
            
                42468
            
            </a>
        </td>
        <td>
            <a href="../fields/42468.html">
            
                LegPaymentStreamLinkInitialLevel
            
            </a>
        </td>
        <td>@LinkInitLvl</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42469.html">
            
                42469
            
            </a>
        </td>
        <td>
            <a href="../fields/42469.html">
            
                LegPaymentStreamLinkClosingLevelIndicator
            
            </a>
        </td>
        <td>@LinkFClsngLvl</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42470.html">
            
                42470
            
            </a>
        </td>
        <td>
            <a href="../fields/42470.html">
            
                LegPaymentStreamLinkExpiringLevelIndicator
            
            </a>
        </td>
        <td>@LinkExpngLvl</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42471.html">
            
                42471
            
            </a>
        </td>
        <td>
            <a href="../fields/42471.html">
            
                LegPaymentStreamLinkEstimatedTradingDays
            
            </a>
        </td>
        <td>@LinkEstTrdgDays</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42472.html">
            
                42472
            
            </a>
        </td>
        <td>
            <a href="../fields/42472.html">
            
                LegPaymentStreamLinkStrikePrice
            
            </a>
        </td>
        <td>@LinkStrkPx</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42473.html">
            
                42473
            
            </a>
        </td>
        <td>
            <a href="../fields/42473.html">
            
                LegPaymentStreamLinkStrikePriceType
            
            </a>
        </td>
        <td>@LinkStrkPxTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42474.html">
            
                42474
            
            </a>
        </td>
        <td>
            <a href="../fields/42474.html">
            
                LegPaymentStreamLinkMaximumBoundary
            
            </a>
        </td>
        <td>@LinkMaxBndry</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42475.html">
            
                42475
            
            </a>
        </td>
        <td>
            <a href="../fields/42475.html">
            
                LegPaymentStreamLinkMinimumBoundary
            
            </a>
        </td>
        <td>@LinkMinBndry</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42476.html">
            
                42476
            
            </a>
        </td>
        <td>
            <a href="../fields/42476.html">
            
                LegPaymentStreamLinkNumberOfDataSeries
            
            </a>
        </td>
        <td>@LinkNumDataSeries</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42477.html">
            
                42477
            
            </a>
        </td>
        <td>
            <a href="../fields/42477.html">
            
                LegPaymentStreamVarianceUnadjustedCap
            
            </a>
        </td>
        <td>@VarncCap</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42478.html">
            
                42478
            
            </a>
        </td>
        <td>
            <a href="../fields/42478.html">
            
                LegPaymentStreamRealizedVarianceMethod
            
            </a>
        </td>
        <td>@RlzdVarncMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42479.html">
            
                42479
            
            </a>
        </td>
        <td>
            <a href="../fields/42479.html">
            
                LegPaymentStreamDaysAdjustmentIndicator
            
            </a>
        </td>
        <td>@DaysAdjmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42480.html">
            
                42480
            
            </a>
        </td>
        <td>
            <a href="../fields/42480.html">
            
                LegPaymentStreamNearestExchangeContractRefID
            
            </a>
        </td>
        <td>@ExchCtrctRefID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42481.html">
            
                42481
            
            </a>
        </td>
        <td>
            <a href="../fields/42481.html">
            
                LegPaymentStreamVegaNotionalAmount
            
            </a>
        </td>
        <td>@VegaNotlAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>