<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>TrdCapRptSideGrp [type 'Component']</h3>
<p class="description">None</p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/552.html">
            
                552
            
            </a>
        </td>
        <td>
            <a href="../fields/552.html">
            
                NoSides
            
            </a>
        </td>
        <td></td>
        <td class="green center">✔</td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/54.html">
            
                54
            
            </a>
        </td>
        <td>
            <a href="../fields/54.html">
            
                Side
            
            </a>
        </td>
        <td>@Side</td>
        <td class="green center">✔</td>
        <td>Required when NoSides(552) &gt; 0.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2102.html">
            
                2102
            
            </a>
        </td>
        <td>
            <a href="../fields/2102.html">
            
                ShortMarkingExemptIndicator
            
            </a>
        </td>
        <td>@SMEInd</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1427.html">
            
                1427
            
            </a>
        </td>
        <td>
            <a href="../fields/1427.html">
            
                SideExecID
            
            </a>
        </td>
        <td>@SideExecID</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1428.html">
            
                1428
            
            </a>
        </td>
        <td>
            <a href="../fields/1428.html">
            
                OrderDelay
            
            </a>
        </td>
        <td>@OrdDelay</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1429.html">
            
                1429
            
            </a>
        </td>
        <td>
            <a href="../fields/1429.html">
            
                OrderDelayUnit
            
            </a>
        </td>
        <td>@OrdDelayUnit</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1009.html">
            
                1009
            
            </a>
        </td>
        <td>
            <a href="../fields/1009.html">
            
                SideLastQty
            
            </a>
        </td>
        <td>@SideQty</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1597.html">
            
                1597
            
            </a>
        </td>
        <td>
            <a href="../fields/1597.html">
            
                SideClearingTradePrice
            
            </a>
        </td>
        <td>@ClrTrdPx</td>
        <td class="green center"></td>
        <td>Used to indicate a side specific alternate clearing price.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1599.html">
            
                1599
            
            </a>
        </td>
        <td>
            <a href="../fields/1599.html">
            
                SidePriceDifferential
            
            </a>
        </td>
        <td>@SidePxDiff</td>
        <td class="green center"></td>
        <td>Used to indicate the Price Differential between the first and second leg of a complex instrument.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1598.html">
            
                1598
            
            </a>
        </td>
        <td>
            <a href="../fields/1598.html">
            
                SideClearingTradePriceType
            
            </a>
        </td>
        <td>@ClrTrdPxType</td>
        <td class="green center"></td>
        <td>Used to indicate whether the trade is clearing using execution price (LastPx) or alternate clearing price (ClrTrdPx)</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1005.html">
            
                1005
            
            </a>
        </td>
        <td>
            <a href="../fields/1005.html">
            
                SideTradeReportID
            
            </a>
        </td>
        <td>@RptID</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1506.html">
            
                1506
            
            </a>
        </td>
        <td>
            <a href="../fields/1506.html">
            
                SideTradeID
            
            </a>
        </td>
        <td>@TrdID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1507.html">
            
                1507
            
            </a>
        </td>
        <td>
            <a href="../fields/1507.html">
            
                SideOrigTradeID
            
            </a>
        </td>
        <td>@OrigTrdID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1006.html">
            
                1006
            
            </a>
        </td>
        <td>
            <a href="../fields/1006.html">
            
                SideFillStationCd
            
            </a>
        </td>
        <td>@FillStationCd</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1007.html">
            
                1007
            
            </a>
        </td>
        <td>
            <a href="../fields/1007.html">
            
                SideReasonCd
            
            </a>
        </td>
        <td>@RsnCD</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/83.html">
            
                83
            
            </a>
        </td>
        <td>
            <a href="../fields/83.html">
            
                RptSeq
            
            </a>
        </td>
        <td>@RptSeq</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1008.html">
            
                1008
            
            </a>
        </td>
        <td>
            <a href="../fields/1008.html">
            
                SideTrdSubTyp
            
            </a>
        </td>
        <td>@TrdSubTyp</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/430.html">
            
                430
            
            </a>
        </td>
        <td>
            <a href="../fields/430.html">
            
                NetGrossInd
            
            </a>
        </td>
        <td>@NetGrossInd</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1154.html">
            
                1154
            
            </a>
        </td>
        <td>
            <a href="../fields/1154.html">
            
                SideCurrency
            
            </a>
        </td>
        <td>@Ccy</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1155.html">
            
                1155
            
            </a>
        </td>
        <td>
            <a href="../fields/1155.html">
            
                SideSettlCurrency
            
            </a>
        </td>
        <td>@SettlCcy</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/Parties.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/Parties.html">
            
                <b>Parties</b>
            
            </a>
        </td>
        <td>Pty</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/PartyDetailGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/PartyDetailGrp.html">
            
                <b>PartyDetailGrp</b>
            
            </a>
        </td>
        <td>PtyDetl</td>
        <td class="green center"></td>
        <td>PartyDetailID(1619) must reference an existing entry in Parties component or a previous entry in RelatedPartyDetailGrp. The instance must have the same role as the referenced entry. The embedded RelatedPartyDetailID(1563) should introduce a new party identifier not previously reported.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1.html">
            
                1
            
            </a>
        </td>
        <td>
            <a href="../fields/1.html">
            
                Account
            
            </a>
        </td>
        <td>@Acct</td>
        <td class="green center"></td>
        <td>Required for executions against electronically submitted orders which were assigned an account by the institution or intermediary.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/660.html">
            
                660
            
            </a>
        </td>
        <td>
            <a href="../fields/660.html">
            
                AcctIDSource
            
            </a>
        </td>
        <td>@AcctIDSrc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/581.html">
            
                581
            
            </a>
        </td>
        <td>
            <a href="../fields/581.html">
            
                AccountType
            
            </a>
        </td>
        <td>@AcctTyp</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/LimitAmts.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/LimitAmts.html">
            
                <b>LimitAmts</b>
            
            </a>
        </td>
        <td>LmtAmts</td>
        <td class="green center"></td>
        <td>Insert here the set of &#34;LimitAmts&#34; fields defined in &#34;Common Components&#34;</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/81.html">
            
                81
            
            </a>
        </td>
        <td>
            <a href="../fields/81.html">
            
                ProcessCode
            
            </a>
        </td>
        <td>@ProcCode</td>
        <td class="green center"></td>
        <td>Used to specify Step-out trades.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/575.html">
            
                575
            
            </a>
        </td>
        <td>
            <a href="../fields/575.html">
            
                OddLot
            
            </a>
        </td>
        <td>@OddLot</td>
        <td class="green center"></td>
        <td></td>
        <td class="green">FIX.5.0</td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/ClrInstGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/ClrInstGrp.html">
            
                <b>ClrInstGrp</b>
            
            </a>
        </td>
        <td>ClrInst</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/SideRegulatoryTradeIDGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/SideRegulatoryTradeIDGrp.html">
            
                <b>SideRegulatoryTradeIDGrp</b>
            
            </a>
        </td>
        <td>RegTrdID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2671.html">
            
                2671
            
            </a>
        </td>
        <td>
            <a href="../fields/2671.html">
            
                SideTradeReportingIndicator
            
            </a>
        </td>
        <td>@TrdRptngInd</td>
        <td class="green center"></td>
        <td>May be used to bilaterally inform counterparty of trade reporting status for this side of the trade.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2418.html">
            
                2418
            
            </a>
        </td>
        <td>
            <a href="../fields/2418.html">
            
                FirmTradeEventID
            
            </a>
        </td>
        <td>@FirmTrdEvntID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/578.html">
            
                578
            
            </a>
        </td>
        <td>
            <a href="../fields/578.html">
            
                TradeInputSource
            
            </a>
        </td>
        <td>@InptSrc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/579.html">
            
                579
            
            </a>
        </td>
        <td>
            <a href="../fields/579.html">
            
                TradeInputDevice
            
            </a>
        </td>
        <td>@InptDev</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/376.html">
            
                376
            
            </a>
        </td>
        <td>
            <a href="../fields/376.html">
            
                ComplianceID
            
            </a>
        </td>
        <td>@ComplianceID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2404.html">
            
                2404
            
            </a>
        </td>
        <td>
            <a href="../fields/2404.html">
            
                ComplianceText
            
            </a>
        </td>
        <td>@ComplianceTxt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2351.html">
            
                2351
            
            </a>
        </td>
        <td>
            <a href="../fields/2351.html">
            
                EncodedComplianceTextLen
            
            </a>
        </td>
        <td>@EncComplianceTxtLen</td>
        <td class="green center"></td>
        <td>Must be set if EncodedComplianceText(2352) field is specified and must immediately precede it.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2352.html">
            
                2352
            
            </a>
        </td>
        <td>
            <a href="../fields/2352.html">
            
                EncodedComplianceText
            
            </a>
        </td>
        <td>@EncComplianceTxt</td>
        <td class="green center"></td>
        <td>Encoded (non-ASCII characters) representation of the ComplianceText(2404) field in the encoded format specified via the MessageEncoding(347) field.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/377.html">
            
                377
            
            </a>
        </td>
        <td>
            <a href="../fields/377.html">
            
                SolicitedFlag
            
            </a>
        </td>
        <td>@SolFlag</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/582.html">
            
                582
            
            </a>
        </td>
        <td>
            <a href="../fields/582.html">
            
                CustOrderCapacity
            
            </a>
        </td>
        <td>@CustCpcty</td>
        <td class="green center"></td>
        <td>The customer capacity for this trade</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/336.html">
            
                336
            
            </a>
        </td>
        <td>
            <a href="../fields/336.html">
            
                TradingSessionID
            
            </a>
        </td>
        <td>@SesID</td>
        <td class="green center"></td>
        <td>Usually the same for all sides of a trade, if reported only on the first side the same TradingSessionID(336) then applies to all sides of the trade.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/625.html">
            
                625
            
            </a>
        </td>
        <td>
            <a href="../fields/625.html">
            
                TradingSessionSubID
            
            </a>
        </td>
        <td>@SesSub</td>
        <td class="green center"></td>
        <td>Usually the same for all sides of a trade, if reported only on the first side the same TradingSessionSubID(625) then applies to all sides of the trade.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/943.html">
            
                943
            
            </a>
        </td>
        <td>
            <a href="../fields/943.html">
            
                TimeBracket
            
            </a>
        </td>
        <td>@TmBkt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2356.html">
            
                2356
            
            </a>
        </td>
        <td>
            <a href="../fields/2356.html">
            
                RemunerationIndicator
            
            </a>
        </td>
        <td>@RmntnInd</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/CommissionData.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/CommissionData.html">
            
                <b>CommissionData</b>
            
            </a>
        </td>
        <td>Comm</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/CommissionDataGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/CommissionDataGrp.html">
            
                <b>CommissionDataGrp</b>
            
            </a>
        </td>
        <td>CommData</td>
        <td class="green center"></td>
        <td>Use as an alternative to CommissionData if multiple commissions or enhanced attributes are needed.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/157.html">
            
                157
            
            </a>
        </td>
        <td>
            <a href="../fields/157.html">
            
                NumDaysInterest
            
            </a>
        </td>
        <td>@NumDaysInt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/230.html">
            
                230
            
            </a>
        </td>
        <td>
            <a href="../fields/230.html">
            
                ExDate
            
            </a>
        </td>
        <td>@ExDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/158.html">
            
                158
            
            </a>
        </td>
        <td>
            <a href="../fields/158.html">
            
                AccruedInterestRate
            
            </a>
        </td>
        <td>@AcrdIntRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/159.html">
            
                159
            
            </a>
        </td>
        <td>
            <a href="../fields/159.html">
            
                AccruedInterestAmt
            
            </a>
        </td>
        <td>@AcrdIntAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/738.html">
            
                738
            
            </a>
        </td>
        <td>
            <a href="../fields/738.html">
            
                InterestAtMaturity
            
            </a>
        </td>
        <td>@IntAtMat</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/920.html">
            
                920
            
            </a>
        </td>
        <td>
            <a href="../fields/920.html">
            
                EndAccruedInterestAmt
            
            </a>
        </td>
        <td>@EndAcrdIntAmt</td>
        <td class="green center"></td>
        <td>For repurchase agreements the accrued interest on termination.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/921.html">
            
                921
            
            </a>
        </td>
        <td>
            <a href="../fields/921.html">
            
                StartCash
            
            </a>
        </td>
        <td>@StartCsh</td>
        <td class="green center"></td>
        <td>For repurchase agreements the start (dirty) cash consideration.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/922.html">
            
                922
            
            </a>
        </td>
        <td>
            <a href="../fields/922.html">
            
                EndCash
            
            </a>
        </td>
        <td>@EndCsh</td>
        <td class="green center"></td>
        <td>For repurchase agreements the end (dirty) cash consideration.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/238.html">
            
                238
            
            </a>
        </td>
        <td>
            <a href="../fields/238.html">
            
                Concession
            
            </a>
        </td>
        <td>@Concession</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/237.html">
            
                237
            
            </a>
        </td>
        <td>
            <a href="../fields/237.html">
            
                TotalTakedown
            
            </a>
        </td>
        <td>@TotTakedown</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/118.html">
            
                118
            
            </a>
        </td>
        <td>
            <a href="../fields/118.html">
            
                NetMoney
            
            </a>
        </td>
        <td>@NetMny</td>
        <td class="green center"></td>
        <td>Value expressed in the currency reflected by the Currency(15) field.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/119.html">
            
                119
            
            </a>
        </td>
        <td>
            <a href="../fields/119.html">
            
                SettlCurrAmt
            
            </a>
        </td>
        <td>@SettlCurrAmt</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/155.html">
            
                155
            
            </a>
        </td>
        <td>
            <a href="../fields/155.html">
            
                SettlCurrFxRate
            
            </a>
        </td>
        <td>@SettlCurrFxRt</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/156.html">
            
                156
            
            </a>
        </td>
        <td>
            <a href="../fields/156.html">
            
                SettlCurrFxRateCalc
            
            </a>
        </td>
        <td>@SettlCurrFxRtCalc</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/77.html">
            
                77
            
            </a>
        </td>
        <td>
            <a href="../fields/77.html">
            
                PositionEffect
            
            </a>
        </td>
        <td>@PosEfct</td>
        <td class="green center"></td>
        <td>Can be used for derivatives omnibus accounting.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/58.html">
            
                58
            
            </a>
        </td>
        <td>
            <a href="../fields/58.html">
            
                Text
            
            </a>
        </td>
        <td>@Txt</td>
        <td class="green center"></td>
        <td>Can be used by the executing market to record any execution details that are particular to that market.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/354.html">
            
                354
            
            </a>
        </td>
        <td>
            <a href="../fields/354.html">
            
                EncodedTextLen
            
            </a>
        </td>
        <td>@EncTxtLen</td>
        <td class="green center"></td>
        <td>Must be set if EncodedText field is specified and must immediately precede it.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/355.html">
            
                355
            
            </a>
        </td>
        <td>
            <a href="../fields/355.html">
            
                EncodedText
            
            </a>
        </td>
        <td>@EncTxt</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/752.html">
            
                752
            
            </a>
        </td>
        <td>
            <a href="../fields/752.html">
            
                SideMultiLegReportingType
            
            </a>
        </td>
        <td>@MLegRptTyp</td>
        <td class="green center"></td>
        <td>Can be used to support the scenario where a single leg instrument trades against an individual leg of a multileg instrument.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/ContAmtGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/ContAmtGrp.html">
            
                <b>ContAmtGrp</b>
            
            </a>
        </td>
        <td>ContAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/Stipulations.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/Stipulations.html">
            
                <b>Stipulations</b>
            
            </a>
        </td>
        <td>Stip</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/MiscFeesGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/MiscFeesGrp.html">
            
                <b>MiscFeesGrp</b>
            
            </a>
        </td>
        <td>MiscFees</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/825.html">
            
                825
            
            </a>
        </td>
        <td>
            <a href="../fields/825.html">
            
                ExchangeRule
            
            </a>
        </td>
        <td>@ExchRule</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/826.html">
            
                826
            
            </a>
        </td>
        <td>
            <a href="../fields/826.html">
            
                TradeAllocIndicator
            
            </a>
        </td>
        <td>@AllocInd</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1848.html">
            
                1848
            
            </a>
        </td>
        <td>
            <a href="../fields/1848.html">
            
                TradeAllocGroupInstruction
            
            </a>
        </td>
        <td>@AllocGrpInst</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1730.html">
            
                1730
            
            </a>
        </td>
        <td>
            <a href="../fields/1730.html">
            
                AllocGroupID
            
            </a>
        </td>
        <td>@GrpID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2759.html">
            
                2759
            
            </a>
        </td>
        <td>
            <a href="../fields/2759.html">
            
                GroupAmount
            
            </a>
        </td>
        <td>@GrpAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2767.html">
            
                2767
            
            </a>
        </td>
        <td>
            <a href="../fields/2767.html">
            
                AllocGroupStatus
            
            </a>
        </td>
        <td>@GrpStat</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1853.html">
            
                1853
            
            </a>
        </td>
        <td>
            <a href="../fields/1853.html">
            
                SideAvgPxIndicator
            
            </a>
        </td>
        <td>@AvgPxInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1854.html">
            
                1854
            
            </a>
        </td>
        <td>
            <a href="../fields/1854.html">
            
                SideAvgPxGroupID
            
            </a>
        </td>
        <td>@AvgPxGrpID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1852.html">
            
                1852
            
            </a>
        </td>
        <td>
            <a href="../fields/1852.html">
            
                SideAvgPx
            
            </a>
        </td>
        <td>@AvgPx</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/591.html">
            
                591
            
            </a>
        </td>
        <td>
            <a href="../fields/591.html">
            
                PreallocMethod
            
            </a>
        </td>
        <td>@PreallocMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/70.html">
            
                70
            
            </a>
        </td>
        <td>
            <a href="../fields/70.html">
            
                AllocID
            
            </a>
        </td>
        <td>@AllocID</td>
        <td class="green center"></td>
        <td>Used to assign an ID to the block of preallocations.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/TrdAllocGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/TrdAllocGrp.html">
            
                <b>TrdAllocGrp</b>
            
            </a>
        </td>
        <td>Alloc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/SideTrdRegTS.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/SideTrdRegTS.html">
            
                <b>SideTrdRegTS</b>
            
            </a>
        </td>
        <td>TrdRegTS</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/SettlDetails.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/SettlDetails.html">
            
                <b>SettlDetails</b>
            
            </a>
        </td>
        <td>SettlDetails</td>
        <td class="green center"></td>
        <td>Conveys settlement account details reported as part of obligation.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1072.html">
            
                1072
            
            </a>
        </td>
        <td>
            <a href="../fields/1072.html">
            
                SideGrossTradeAmt
            
            </a>
        </td>
        <td>@SideGrossTradeAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1057.html">
            
                1057
            
            </a>
        </td>
        <td>
            <a href="../fields/1057.html">
            
                AggressorIndicator
            
            </a>
        </td>
        <td>@AgrsrInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1139.html">
            
                1139
            
            </a>
        </td>
        <td>
            <a href="../fields/1139.html">
            
                ExchangeSpecialInstructions
            
            </a>
        </td>
        <td>@ExchSpeclInstr</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1690.html">
            
                1690
            
            </a>
        </td>
        <td>
            <a href="../fields/1690.html">
            
                SideShortSaleExemptionReason
            
            </a>
        </td>
        <td>@ShrtSaleExmptnRsn</td>
        <td class="green center"></td>
        <td>Optional when Side (54) = 6 (Sell short exempt)</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1115.html">
            
                1115
            
            </a>
        </td>
        <td>
            <a href="../fields/1115.html">
            
                OrderCategory
            
            </a>
        </td>
        <td>@OrdCat</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1444.html">
            
                1444
            
            </a>
        </td>
        <td>
            <a href="../fields/1444.html">
            
                SideLiquidityInd
            
            </a>
        </td>
        <td>@LqdtyInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1851.html">
            
                1851
            
            </a>
        </td>
        <td>
            <a href="../fields/1851.html">
            
                StrategyLinkID
            
            </a>
        </td>
        <td>@StrategyLinkID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/TradeReportOrderDetail.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/TradeReportOrderDetail.html">
            
                <b>TradeReportOrderDetail</b>
            
            </a>
        </td>
        <td>TrdRptOrdDetl</td>
        <td class="green center"></td>
        <td>Order details for the order associated with this side of the trade.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1031.html">
            
                1031
            
            </a>
        </td>
        <td>
            <a href="../fields/1031.html">
            
                CustOrderHandlingInst
            
            </a>
        </td>
        <td>@CustOrdHdlInst</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1032.html">
            
                1032
            
            </a>
        </td>
        <td>
            <a href="../fields/1032.html">
            
                OrderHandlingInstSource
            
            </a>
        </td>
        <td>@OrdHndlInstSrc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/TradePositionQty.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/TradePositionQty.html">
            
                <b>TradePositionQty</b>
            
            </a>
        </td>
        <td>Qty</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/RelatedTradeGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/RelatedTradeGrp.html">
            
                <b>RelatedTradeGrp</b>
            
            </a>
        </td>
        <td>ReltdTrd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/RelatedPositionGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/RelatedPositionGrp.html">
            
                <b>RelatedPositionGrp</b>
            
            </a>
        </td>
        <td>ReltdPos</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/1980.html">
            
                1980
            
            </a>
        </td>
        <td>
            <a href="../fields/1980.html">
            
                BlockTrdAllocIndicator
            
            </a>
        </td>
        <td>@BlckTrdAllocInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2344.html">
            
                2344
            
            </a>
        </td>
        <td>
            <a href="../fields/2344.html">
            
                SideRiskLimitCheckStatus
            
            </a>
        </td>
        <td>@RiskLmtChkStat</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/29.html">
            
                29
            
            </a>
        </td>
        <td>
            <a href="../fields/29.html">
            
                LastCapacity
            
            </a>
        </td>
        <td>@LastCpcty</td>
        <td class="green center"></td>
        <td>In the context of regulatory trade reporting, this specifies the trading capacity of the reporting party.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2334.html">
            
                2334
            
            </a>
        </td>
        <td>
            <a href="../fields/2334.html">
            
                RefRiskLimitCheckID
            
            </a>
        </td>
        <td>@RefRiskLmtChkID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2335.html">
            
                2335
            
            </a>
        </td>
        <td>
            <a href="../fields/2335.html">
            
                RefRiskLimitCheckIDType
            
            </a>
        </td>
        <td>@RefRiskLmtChkIDTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/2361.html">
            
                2361
            
            </a>
        </td>
        <td>
            <a href="../fields/2361.html">
            
                CompressionGroupID
            
            </a>
        </td>
        <td>@CmprsnGrpID</td>
        <td class="green center"></td>
        <td>None</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/SideCollateralAmountGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/SideCollateralAmountGrp.html">
            
                <b>SideCollateralAmountGrp</b>
            
            </a>
        </td>
        <td>CollAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>