<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>UnderlyingPaymentStream [type 'Component']</h3>
<p class="description">The UnderlyingPaymentStream component is a subcomponent of the UnderlyingStream used to detail the attributes of a payment stream in a swap.</p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/40568.html">
            
                40568
            
            </a>
        </td>
        <td>
            <a href="../fields/40568.html">
            
                UnderlyingPaymentStreamType
            
            </a>
        </td>
        <td>@Typ</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40569.html">
            
                40569
            
            </a>
        </td>
        <td>
            <a href="../fields/40569.html">
            
                UnderlyingPaymentStreamMarketRate
            
            </a>
        </td>
        <td>@MktRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40570.html">
            
                40570
            
            </a>
        </td>
        <td>
            <a href="../fields/40570.html">
            
                UnderlyingPaymentStreamDelayIndicator
            
            </a>
        </td>
        <td>@DelayInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42895.html">
            
                42895
            
            </a>
        </td>
        <td>
            <a href="../fields/42895.html">
            
                UnderlyingPaymentStreamCashSettlIndicator
            
            </a>
        </td>
        <td>@CshSettlInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40571.html">
            
                40571
            
            </a>
        </td>
        <td>
            <a href="../fields/40571.html">
            
                UnderlyingPaymentStreamSettlCurrency
            
            </a>
        </td>
        <td>@SettlCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40572.html">
            
                40572
            
            </a>
        </td>
        <td>
            <a href="../fields/40572.html">
            
                UnderlyingPaymentStreamDayCount
            
            </a>
        </td>
        <td>@DayCnt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40573.html">
            
                40573
            
            </a>
        </td>
        <td>
            <a href="../fields/40573.html">
            
                UnderlyingPaymentStreamAccrualDays
            
            </a>
        </td>
        <td>@AcrlDays</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40574.html">
            
                40574
            
            </a>
        </td>
        <td>
            <a href="../fields/40574.html">
            
                UnderlyingPaymentStreamDiscountType
            
            </a>
        </td>
        <td>@DiscTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40575.html">
            
                40575
            
            </a>
        </td>
        <td>
            <a href="../fields/40575.html">
            
                UnderlyingPaymentStreamDiscountRate
            
            </a>
        </td>
        <td>@Disc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40576.html">
            
                40576
            
            </a>
        </td>
        <td>
            <a href="../fields/40576.html">
            
                UnderlyingPaymentStreamDiscountRateDayCount
            
            </a>
        </td>
        <td>@DiscDayCnt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40577.html">
            
                40577
            
            </a>
        </td>
        <td>
            <a href="../fields/40577.html">
            
                UnderlyingPaymentStreamCompoundingMethod
            
            </a>
        </td>
        <td>@CmpndgMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42896.html">
            
                42896
            
            </a>
        </td>
        <td>
            <a href="../fields/42896.html">
            
                UnderlyingPaymentStreamCompoundingXIDRef
            
            </a>
        </td>
        <td>@CmpndgXIDRef</td>
        <td class="green center"></td>
        <td>Mutually exclusive with UnderlyingPaymentStreamCompoundingFixedRate(42900) or the UnderlyingPaymentStreamCompoundingFloatingRate component.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42897.html">
            
                42897
            
            </a>
        </td>
        <td>
            <a href="../fields/42897.html">
            
                UnderlyingPaymentStreamCompoundingSpread
            
            </a>
        </td>
        <td>@CmpndgSpread</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42898.html">
            
                42898
            
            </a>
        </td>
        <td>
            <a href="../fields/42898.html">
            
                UnderlyingPaymentStreamInterpolationMethod
            
            </a>
        </td>
        <td>@IntrpltnMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42899.html">
            
                42899
            
            </a>
        </td>
        <td>
            <a href="../fields/42899.html">
            
                UnderlyingPaymentStreamInterpolationPeriod
            
            </a>
        </td>
        <td>@IntrpltnPeriod</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40578.html">
            
                40578
            
            </a>
        </td>
        <td>
            <a href="../fields/40578.html">
            
                UnderlyingPaymentStreamInitialPrincipalExchangeIndicator
            
            </a>
        </td>
        <td>@InitPrncplExchInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40579.html">
            
                40579
            
            </a>
        </td>
        <td>
            <a href="../fields/40579.html">
            
                UnderlyingPaymentStreamInterimPrincipalExchangeIndicator
            
            </a>
        </td>
        <td>@IntrmPrncplExchInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40580.html">
            
                40580
            
            </a>
        </td>
        <td>
            <a href="../fields/40580.html">
            
                UnderlyingPaymentStreamFinalPrincipalExchangeIndicator
            
            </a>
        </td>
        <td>@FnlPrncplExchInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41897.html">
            
                41897
            
            </a>
        </td>
        <td>
            <a href="../fields/41897.html">
            
                UnderlyingPaymentStreamFlatRateIndicator
            
            </a>
        </td>
        <td>@FlatRtInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41898.html">
            
                41898
            
            </a>
        </td>
        <td>
            <a href="../fields/41898.html">
            
                UnderlyingPaymentStreamFlatRateAmount
            
            </a>
        </td>
        <td>@FlatRtAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41899.html">
            
                41899
            
            </a>
        </td>
        <td>
            <a href="../fields/41899.html">
            
                UnderlyingPaymentStreamFlatRateCurrency
            
            </a>
        </td>
        <td>@FlatRtCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41900.html">
            
                41900
            
            </a>
        </td>
        <td>
            <a href="../fields/41900.html">
            
                UnderlyingPaymentStreamMaximumPaymentAmount
            
            </a>
        </td>
        <td>@MaxPmtAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41901.html">
            
                41901
            
            </a>
        </td>
        <td>
            <a href="../fields/41901.html">
            
                UnderlyingPaymentStreamMaximumPaymentCurrency
            
            </a>
        </td>
        <td>@MaxPmtCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41902.html">
            
                41902
            
            </a>
        </td>
        <td>
            <a href="../fields/41902.html">
            
                UnderlyingPaymentStreamMaximumTransactionAmount
            
            </a>
        </td>
        <td>@MaxTxnAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41903.html">
            
                41903
            
            </a>
        </td>
        <td>
            <a href="../fields/41903.html">
            
                UnderlyingPaymentStreamMaximumTransactionCurrency
            
            </a>
        </td>
        <td>@MaxTxnCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingPaymentStreamPaymentDates.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingPaymentStreamPaymentDates.html">
            
                <b>UnderlyingPaymentStreamPaymentDates</b>
            
            </a>
        </td>
        <td>PmtDts</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingPaymentStreamResetDates.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingPaymentStreamResetDates.html">
            
                <b>UnderlyingPaymentStreamResetDates</b>
            
            </a>
        </td>
        <td>ResetDts</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingPaymentStreamFixedRate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingPaymentStreamFixedRate.html">
            
                <b>UnderlyingPaymentStreamFixedRate</b>
            
            </a>
        </td>
        <td>Fixed</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingPaymentStreamFloatingRate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingPaymentStreamFloatingRate.html">
            
                <b>UnderlyingPaymentStreamFloatingRate</b>
            
            </a>
        </td>
        <td>Float</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42900.html">
            
                42900
            
            </a>
        </td>
        <td>
            <a href="../fields/42900.html">
            
                UnderlyingPaymentStreamCompoundingFixedRate
            
            </a>
        </td>
        <td>@CmpndgFixedRt</td>
        <td class="green center"></td>
        <td>Mutually exclusive with UnderlyingPaymentStreamCompoundingXIDRef(42896) or the UnderlyingPaymentStreamCompoundingFloatingRate component.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingPaymentStreamCompoundingFloatingRate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingPaymentStreamCompoundingFloatingRate.html">
            
                <b>UnderlyingPaymentStreamCompoundingFloatingRate</b>
            
            </a>
        </td>
        <td>CmpndgFloat</td>
        <td class="green center"></td>
        <td>Mutually exclusive with UnderlyingPaymentStreamCompoundingFixedRate(42900) or the UnderlyingPaymentStreamCompoundingXIDRef(42896).</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingPaymentStreamCompoundingDates.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingPaymentStreamCompoundingDates.html">
            
                <b>UnderlyingPaymentStreamCompoundingDates</b>
            
            </a>
        </td>
        <td>CmpndgDts</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingPaymentStreamNonDeliverableSettlTerms.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingPaymentStreamNonDeliverableSettlTerms.html">
            
                <b>UnderlyingPaymentStreamNonDeliverableSettlTerms</b>
            
            </a>
        </td>
        <td>NonDlvrblTrms</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>