<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>UnderlyingDividendConditions [type 'Component']</h3>
<p class="description">The UnderlyingDividendConditions component is a subcomponent of  UnderlyingPaymentStream used to specify the conditions&#39; valuations and dates governing the payment of dividends.</p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/42826.html">
            
                42826
            
            </a>
        </td>
        <td>
            <a href="../fields/42826.html">
            
                UnderlyingDividendReinvestmentIndicator
            
            </a>
        </td>
        <td>@RnvstmntInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42827.html">
            
                42827
            
            </a>
        </td>
        <td>
            <a href="../fields/42827.html">
            
                UnderlyingDividendEntitlementEvent
            
            </a>
        </td>
        <td>@EntlmntEvnt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42828.html">
            
                42828
            
            </a>
        </td>
        <td>
            <a href="../fields/42828.html">
            
                UnderlyingDividendAmountType
            
            </a>
        </td>
        <td>@AmtTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42829.html">
            
                42829
            
            </a>
        </td>
        <td>
            <a href="../fields/42829.html">
            
                UnderlyingDividendUnderlierRefID
            
            </a>
        </td>
        <td>@UndlrRefID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingDividendPeriodGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingDividendPeriodGrp.html">
            
                <b>UnderlyingDividendPeriodGrp</b>
            
            </a>
        </td>
        <td>Period</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42830.html">
            
                42830
            
            </a>
        </td>
        <td>
            <a href="../fields/42830.html">
            
                UnderlyingExtraordinaryDividendPartySide
            
            </a>
        </td>
        <td>@ExtrordSide</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42831.html">
            
                42831
            
            </a>
        </td>
        <td>
            <a href="../fields/42831.html">
            
                UnderlyingExtraordinaryDividendAmountType
            
            </a>
        </td>
        <td>@ExtrordAmtTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42832.html">
            
                42832
            
            </a>
        </td>
        <td>
            <a href="../fields/42832.html">
            
                UnderlyingExtraordinaryDividendCurrency
            
            </a>
        </td>
        <td>@ExtrordCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42833.html">
            
                42833
            
            </a>
        </td>
        <td>
            <a href="../fields/42833.html">
            
                UnderlyingExtraordinaryDividendDeterminationMethod
            
            </a>
        </td>
        <td>@ExtrordDtrmnMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingDividendFXTriggerDate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingDividendFXTriggerDate.html">
            
                <b>UnderlyingDividendFXTriggerDate</b>
            
            </a>
        </td>
        <td>FXTrgrDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingDividendAccrualFloatingRate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingDividendAccrualFloatingRate.html">
            
                <b>UnderlyingDividendAccrualFloatingRate</b>
            
            </a>
        </td>
        <td>AcrlFloat</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42834.html">
            
                42834
            
            </a>
        </td>
        <td>
            <a href="../fields/42834.html">
            
                UnderlyingDividendAccrualFixedRate
            
            </a>
        </td>
        <td>@AcrlFixedRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingDividendAccrualPaymentDate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingDividendAccrualPaymentDate.html">
            
                <b>UnderlyingDividendAccrualPaymentDate</b>
            
            </a>
        </td>
        <td>AcrlPmtDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42835.html">
            
                42835
            
            </a>
        </td>
        <td>
            <a href="../fields/42835.html">
            
                UnderlyingDividendCompoundingMethod
            
            </a>
        </td>
        <td>@CmpndgMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42836.html">
            
                42836
            
            </a>
        </td>
        <td>
            <a href="../fields/42836.html">
            
                UnderlyingDividendNumOfIndexUnits
            
            </a>
        </td>
        <td>@NumNdxUnits</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42837.html">
            
                42837
            
            </a>
        </td>
        <td>
            <a href="../fields/42837.html">
            
                UnderlyingDividendCashPercentage
            
            </a>
        </td>
        <td>@CshPctage</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42838.html">
            
                42838
            
            </a>
        </td>
        <td>
            <a href="../fields/42838.html">
            
                UnderlyingDividendCashEquivalentPercentage
            
            </a>
        </td>
        <td>@CshEqvlntPctage</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42839.html">
            
                42839
            
            </a>
        </td>
        <td>
            <a href="../fields/42839.html">
            
                UnderlyingNonCashDividendTreatment
            
            </a>
        </td>
        <td>@NonCshTrtmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42840.html">
            
                42840
            
            </a>
        </td>
        <td>
            <a href="../fields/42840.html">
            
                UnderlyingDividendComposition
            
            </a>
        </td>
        <td>@Cmpstn</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42841.html">
            
                42841
            
            </a>
        </td>
        <td>
            <a href="../fields/42841.html">
            
                UnderlyingSpecialDividendsIndicator
            
            </a>
        </td>
        <td>@SpeclDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42842.html">
            
                42842
            
            </a>
        </td>
        <td>
            <a href="../fields/42842.html">
            
                UnderlyingMaterialDividendsIndicator
            
            </a>
        </td>
        <td>@MtrlDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42843.html">
            
                42843
            
            </a>
        </td>
        <td>
            <a href="../fields/42843.html">
            
                UnderlyingOptionsExchangeDividendsIndicator
            
            </a>
        </td>
        <td>@ExchDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42844.html">
            
                42844
            
            </a>
        </td>
        <td>
            <a href="../fields/42844.html">
            
                UnderlyingAdditionalDividendsIndicator
            
            </a>
        </td>
        <td>@AddtnlDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42845.html">
            
                42845
            
            </a>
        </td>
        <td>
            <a href="../fields/42845.html">
            
                UnderlyingAllDividendsIndicator
            
            </a>
        </td>
        <td>@AllDividendInd</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>