<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>UnderlyingStreamCommodity [type 'Component']</h3>
<p class="description">UnderlyingStreamCommodity is a subcomponent of the UnderlyingStream component used to identify and describe the underlying commodity.</p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/41964.html">
            
                41964
            
            </a>
        </td>
        <td>
            <a href="../fields/41964.html">
            
                UnderlyingStreamCommodityBase
            
            </a>
        </td>
        <td>@Base</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41965.html">
            
                41965
            
            </a>
        </td>
        <td>
            <a href="../fields/41965.html">
            
                UnderlyingStreamCommodityType
            
            </a>
        </td>
        <td>@CmdtyTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41966.html">
            
                41966
            
            </a>
        </td>
        <td>
            <a href="../fields/41966.html">
            
                UnderlyingStreamCommoditySecurityID
            
            </a>
        </td>
        <td>@ID</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingStreamCommoditySecurityIDSource(41967) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41967.html">
            
                41967
            
            </a>
        </td>
        <td>
            <a href="../fields/41967.html">
            
                UnderlyingStreamCommoditySecurityIDSource
            
            </a>
        </td>
        <td>@Src</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingStreamCommoditySecurityID(41966) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingStreamCommodityAltIDGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingStreamCommodityAltIDGrp.html">
            
                <b>UnderlyingStreamCommodityAltIDGrp</b>
            
            </a>
        </td>
        <td>AID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41968.html">
            
                41968
            
            </a>
        </td>
        <td>
            <a href="../fields/41968.html">
            
                UnderlyingStreamCommodityDesc
            
            </a>
        </td>
        <td>@Desc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41969.html">
            
                41969
            
            </a>
        </td>
        <td>
            <a href="../fields/41969.html">
            
                EncodedUnderlyingStreamCommodityDescLen
            
            </a>
        </td>
        <td>@EncDescLen</td>
        <td class="green center"></td>
        <td>Must be set if EncodedUnderlyingStreamCommodityDesc(41970) field is specified and must immediately precede it.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41970.html">
            
                41970
            
            </a>
        </td>
        <td>
            <a href="../fields/41970.html">
            
                EncodedUnderlyingStreamCommodityDesc
            
            </a>
        </td>
        <td>@EncDesc</td>
        <td class="green center"></td>
        <td>Encoded (non-ASCII characters) representation of the UnderlyingStreamCommodityDesc(41968) field in the encoded format specified via the MessageEncoding(347) field.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42589.html">
            
                42589
            
            </a>
        </td>
        <td>
            <a href="../fields/42589.html">
            
                UnderlyingStreamCommodityDeliveryPricingRegion
            
            </a>
        </td>
        <td>@DlvryPxngRgn</td>
        <td class="green center"></td>
        <td>May be used to specify the delivery or pricing region of a non-standard commodity swap contract (e.g. when InstrAttribType(871)=38 (US standard contract indicator) and InstrAttribValue(872)=N).</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingStreamAssetAttributeGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingStreamAssetAttributeGrp.html">
            
                <b>UnderlyingStreamAssetAttributeGrp</b>
            
            </a>
        </td>
        <td>AssetAttrib</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41971.html">
            
                41971
            
            </a>
        </td>
        <td>
            <a href="../fields/41971.html">
            
                UnderlyingStreamCommodityUnitOfMeasure
            
            </a>
        </td>
        <td>@UOM</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41972.html">
            
                41972
            
            </a>
        </td>
        <td>
            <a href="../fields/41972.html">
            
                UnderlyingStreamCommodityCurrency
            
            </a>
        </td>
        <td>@Ccy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41973.html">
            
                41973
            
            </a>
        </td>
        <td>
            <a href="../fields/41973.html">
            
                UnderlyingStreamCommodityExchange
            
            </a>
        </td>
        <td>@Exch</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41974.html">
            
                41974
            
            </a>
        </td>
        <td>
            <a href="../fields/41974.html">
            
                UnderlyingStreamCommodityRateSource
            
            </a>
        </td>
        <td>@RtSrc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41975.html">
            
                41975
            
            </a>
        </td>
        <td>
            <a href="../fields/41975.html">
            
                UnderlyingStreamCommodityRateReferencePage
            
            </a>
        </td>
        <td>@RefPg</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41976.html">
            
                41976
            
            </a>
        </td>
        <td>
            <a href="../fields/41976.html">
            
                UnderlyingStreamCommodityRateReferencePageHeading
            
            </a>
        </td>
        <td>@RefHdng</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41977.html">
            
                41977
            
            </a>
        </td>
        <td>
            <a href="../fields/41977.html">
            
                UnderlyingStreamDataProvider
            
            </a>
        </td>
        <td>@DataPrvdr</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingStreamCommodityDataSourceGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingStreamCommodityDataSourceGrp.html">
            
                <b>UnderlyingStreamCommodityDataSourceGrp</b>
            
            </a>
        </td>
        <td>DataSrc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41978.html">
            
                41978
            
            </a>
        </td>
        <td>
            <a href="../fields/41978.html">
            
                UnderlyingStreamCommodityPricingType
            
            </a>
        </td>
        <td>@PxngTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41979.html">
            
                41979
            
            </a>
        </td>
        <td>
            <a href="../fields/41979.html">
            
                UnderlyingStreamCommodityNearbySettlDayPeriod
            
            </a>
        </td>
        <td>@Period</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingStreamCommodityNearbySettlDayUnit(41980) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41980.html">
            
                41980
            
            </a>
        </td>
        <td>
            <a href="../fields/41980.html">
            
                UnderlyingStreamCommodityNearbySettlDayUnit
            
            </a>
        </td>
        <td>@Unit</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingStreamCommodityNearbySettlDayPeriod(41979) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41981.html">
            
                41981
            
            </a>
        </td>
        <td>
            <a href="../fields/41981.html">
            
                UnderlyingStreamCommoditySettlDateUnadjusted
            
            </a>
        </td>
        <td>@DtUnadj</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41982.html">
            
                41982
            
            </a>
        </td>
        <td>
            <a href="../fields/41982.html">
            
                UnderlyingStreamCommoditySettlDateBusinessDayConvention
            
            </a>
        </td>
        <td>@BizDayCnvtn</td>
        <td class="green center"></td>
        <td>When specified, this overrides the business day convention defined in the UnderlyingDateAdjustment component in UnderlyingInstrument. The specified value would be specific to the underlying settlement dates.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingStreamCommoditySettlBusinessCenterGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingStreamCommoditySettlBusinessCenterGrp.html">
            
                <b>UnderlyingStreamCommoditySettlBusinessCenterGrp</b>
            
            </a>
        </td>
        <td>BizCtr</td>
        <td class="green center"></td>
        <td>	When specified, this overrides the business centers defined in the UnderlyingDateAdjustment component in UnderlyingInstrument. The specified values would be specific to the settlement dates.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41983.html">
            
                41983
            
            </a>
        </td>
        <td>
            <a href="../fields/41983.html">
            
                UnderlyingStreamCommoditySettlDateAdjusted
            
            </a>
        </td>
        <td>@Dt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41984.html">
            
                41984
            
            </a>
        </td>
        <td>
            <a href="../fields/41984.html">
            
                UnderlyingStreamCommoditySettlMonth
            
            </a>
        </td>
        <td>@Mo</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41985.html">
            
                41985
            
            </a>
        </td>
        <td>
            <a href="../fields/41985.html">
            
                UnderlyingStreamCommoditySettlDateRollPeriod
            
            </a>
        </td>
        <td>@RollPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingStreamCommoditySettlDateRollUnit(41986) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41986.html">
            
                41986
            
            </a>
        </td>
        <td>
            <a href="../fields/41986.html">
            
                UnderlyingStreamCommoditySettlDateRollUnit
            
            </a>
        </td>
        <td>@RollUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingStreamCommoditySettlDateRollPeriod(41985) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41987.html">
            
                41987
            
            </a>
        </td>
        <td>
            <a href="../fields/41987.html">
            
                UnderlyingStreamCommoditySettlDayType
            
            </a>
        </td>
        <td>@DayTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingStreamCommoditySettlPeriodGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingStreamCommoditySettlPeriodGrp.html">
            
                <b>UnderlyingStreamCommoditySettlPeriodGrp</b>
            
            </a>
        </td>
        <td>SettlPeriod</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41988.html">
            
                41988
            
            </a>
        </td>
        <td>
            <a href="../fields/41988.html">
            
                UnderlyingStreamCommodityXID
            
            </a>
        </td>
        <td>@XID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41989.html">
            
                41989
            
            </a>
        </td>
        <td>
            <a href="../fields/41989.html">
            
                UnderlyingStreamCommodityXIDRef
            
            </a>
        </td>
        <td>@XIDRef</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>