<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>UnderlyingProvisionGrp [type 'Component']</h3>
<p class="description">The UnderlyingProvisionGrp is a repeating subcomponent of the UnderlyingInstrument component used to detail additional terms and conditions associated with the instrument.</p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/42149.html">
            
                42149
            
            </a>
        </td>
        <td>
            <a href="../fields/42149.html">
            
                NoUnderlyingProvisions
            
            </a>
        </td>
        <td></td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42150.html">
            
                42150
            
            </a>
        </td>
        <td>
            <a href="../fields/42150.html">
            
                UnderlyingProvisionType
            
            </a>
        </td>
        <td>@Typ</td>
        <td class="green center"></td>
        <td>Required if NoUnderlyingProvisions(42149) &gt; 0.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42151.html">
            
                42151
            
            </a>
        </td>
        <td>
            <a href="../fields/42151.html">
            
                UnderlyingProvisionDateUnadjusted
            
            </a>
        </td>
        <td>@DtUnadj</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42152.html">
            
                42152
            
            </a>
        </td>
        <td>
            <a href="../fields/42152.html">
            
                UnderlyingProvisionDateBusinessDayConvention
            
            </a>
        </td>
        <td>@BizDayCnvtn</td>
        <td class="green center"></td>
        <td>When specified, this overrides the busienss day convention defined in the UnderlyingDateAdjustment component in UnderlyingInstrument.  The specified value would be specific to this instance of the instrument provisions.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingProvisionDateBusinessCenterGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingProvisionDateBusinessCenterGrp.html">
            
                <b>UnderlyingProvisionDateBusinessCenterGrp</b>
            
            </a>
        </td>
        <td>BizCtr</td>
        <td class="green center"></td>
        <td>When specified, this overrides the business centers defined in the UnderlyingDateAdjustment component in UnderlyingInstrument.  The specified values would be specific to this instance of the instrument provisions.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42153.html">
            
                42153
            
            </a>
        </td>
        <td>
            <a href="../fields/42153.html">
            
                UnderlyingProvisionDateAdjusted
            
            </a>
        </td>
        <td>@Dt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42154.html">
            
                42154
            
            </a>
        </td>
        <td>
            <a href="../fields/42154.html">
            
                UnderlyingProvisionDateTenorPeriod
            
            </a>
        </td>
        <td>@TenorPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingProvisionDateTenorUnit(42155) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42155.html">
            
                42155
            
            </a>
        </td>
        <td>
            <a href="../fields/42155.html">
            
                UnderlyingProvisionDateTenorUnit
            
            </a>
        </td>
        <td>@TenorUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingProvisionDateTenorPeriod(42154) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43002.html">
            
                43002
            
            </a>
        </td>
        <td>
            <a href="../fields/43002.html">
            
                UnderlyingProvisionBreakFeeElection
            
            </a>
        </td>
        <td>@BrkFeeElctn</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43003.html">
            
                43003
            
            </a>
        </td>
        <td>
            <a href="../fields/43003.html">
            
                UnderlyingProvisionBreakFeeRate
            
            </a>
        </td>
        <td>@BrkFeeRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42156.html">
            
                42156
            
            </a>
        </td>
        <td>
            <a href="../fields/42156.html">
            
                UnderlyingProvisionCalculationAgent
            
            </a>
        </td>
        <td>@CalcAgent</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42157.html">
            
                42157
            
            </a>
        </td>
        <td>
            <a href="../fields/42157.html">
            
                UnderlyingProvisionOptionSinglePartyBuyerSide
            
            </a>
        </td>
        <td>@BuyerSide</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42158.html">
            
                42158
            
            </a>
        </td>
        <td>
            <a href="../fields/42158.html">
            
                UnderlyingProvisionOptionSinglePartySellerSide
            
            </a>
        </td>
        <td>@SellerSide</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingProvisionCashSettlValueDates.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingProvisionCashSettlValueDates.html">
            
                <b>UnderlyingProvisionCashSettlValueDates</b>
            
            </a>
        </td>
        <td>CashSettlValDts</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingProvisionOptionExerciseDates.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingProvisionOptionExerciseDates.html">
            
                <b>UnderlyingProvisionOptionExerciseDates</b>
            
            </a>
        </td>
        <td>OptExerDts</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingProvisionOptionExpirationDate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingProvisionOptionExpirationDate.html">
            
                <b>UnderlyingProvisionOptionExpirationDate</b>
            
            </a>
        </td>
        <td>OptExpDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingProvisionOptionRelevantUnderlyingDate.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingProvisionOptionRelevantUnderlyingDate.html">
            
                <b>UnderlyingProvisionOptionRelevantUnderlyingDate</b>
            
            </a>
        </td>
        <td>OptRelvntUndlyDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42159.html">
            
                42159
            
            </a>
        </td>
        <td>
            <a href="../fields/42159.html">
            
                UnderlyingProvisionOptionExerciseStyle
            
            </a>
        </td>
        <td>@ExerStyle</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42160.html">
            
                42160
            
            </a>
        </td>
        <td>
            <a href="../fields/42160.html">
            
                UnderlyingProvisionOptionExerciseMultipleNotional
            
            </a>
        </td>
        <td>@MultplNotl</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42161.html">
            
                42161
            
            </a>
        </td>
        <td>
            <a href="../fields/42161.html">
            
                UnderlyingProvisionOptionExerciseMinimumNotional
            
            </a>
        </td>
        <td>@MinNotl</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42162.html">
            
                42162
            
            </a>
        </td>
        <td>
            <a href="../fields/42162.html">
            
                UnderlyingProvisionOptionExerciseMaximumNotional
            
            </a>
        </td>
        <td>@MaxNotl</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42163.html">
            
                42163
            
            </a>
        </td>
        <td>
            <a href="../fields/42163.html">
            
                UnderlyingProvisionOptionMinimumNumber
            
            </a>
        </td>
        <td>@MinNum</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42164.html">
            
                42164
            
            </a>
        </td>
        <td>
            <a href="../fields/42164.html">
            
                UnderlyingProvisionOptionMaximumNumber
            
            </a>
        </td>
        <td>@MaxNum</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42165.html">
            
                42165
            
            </a>
        </td>
        <td>
            <a href="../fields/42165.html">
            
                UnderlyingProvisionOptionExerciseConfirmation
            
            </a>
        </td>
        <td>@ExerCnfm</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingProvisionCashSettlPaymentDates.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingProvisionCashSettlPaymentDates.html">
            
                <b>UnderlyingProvisionCashSettlPaymentDates</b>
            
            </a>
        </td>
        <td>CashSettlPmtDts</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42166.html">
            
                42166
            
            </a>
        </td>
        <td>
            <a href="../fields/42166.html">
            
                UnderlyingProvisionCashSettlMethod
            
            </a>
        </td>
        <td>@SettlMeth</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42167.html">
            
                42167
            
            </a>
        </td>
        <td>
            <a href="../fields/42167.html">
            
                UnderlyingProvisionCashSettlCurrency
            
            </a>
        </td>
        <td>@SettlCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42168.html">
            
                42168
            
            </a>
        </td>
        <td>
            <a href="../fields/42168.html">
            
                UnderlyingProvisionCashSettlCurrency2
            
            </a>
        </td>
        <td>@SettlCcy2</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42169.html">
            
                42169
            
            </a>
        </td>
        <td>
            <a href="../fields/42169.html">
            
                UnderlyingProvisionCashSettlQuoteType
            
            </a>
        </td>
        <td>@SettlQteTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingProvisionCashSettlQuoteSource.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingProvisionCashSettlQuoteSource.html">
            
                <b>UnderlyingProvisionCashSettlQuoteSource</b>
            
            </a>
        </td>
        <td>CashSettlQteSrc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42170.html">
            
                42170
            
            </a>
        </td>
        <td>
            <a href="../fields/42170.html">
            
                UnderlyingProvisionText
            
            </a>
        </td>
        <td>@Txt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42171.html">
            
                42171
            
            </a>
        </td>
        <td>
            <a href="../fields/42171.html">
            
                EncodedUnderlyingProvisionTextLen
            
            </a>
        </td>
        <td>@EncTxtLen</td>
        <td class="green center"></td>
        <td>Must be set if EncodedProvisionText(40987) field is specified and must immediately precede it.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/42172.html">
            
                42172
            
            </a>
        </td>
        <td>
            <a href="../fields/42172.html">
            
                EncodedUnderlyingProvisionText
            
            </a>
        </td>
        <td>@EncTxt</td>
        <td class="green center"></td>
        <td>Encoded (non-ASCII characters) representation of the UnderlyingProvisionText(42170) field in the encoded format specified via the MessageEncoding(347) field.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingProvisionParties.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingProvisionParties.html">
            
                <b>UnderlyingProvisionParties</b>
            
            </a>
        </td>
        <td>Pty</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>