<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>UnderlyingReturnRateDateGrp [type 'Component']</h3>
<p class="description">UnderlyingReturnRateDateGrp is a repeating subcomponent within the UnderlyingReturnRateGrp component. It is used to specify the equity and dividend valuation dates for an equity return swap payment stream.</p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/43008.html">
            
                43008
            
            </a>
        </td>
        <td>
            <a href="../fields/43008.html">
            
                NoUnderlyingReturnRateDates
            
            </a>
        </td>
        <td></td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43009.html">
            
                43009
            
            </a>
        </td>
        <td>
            <a href="../fields/43009.html">
            
                UnderlyingReturnRateDateMode
            
            </a>
        </td>
        <td>@Mode</td>
        <td class="green center"></td>
        <td>Required if NoUnderlyingReturnRateDates(43008) &gt; 0.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingReturnRateValuationDateGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingReturnRateValuationDateGrp.html">
            
                <b>UnderlyingReturnRateValuationDateGrp</b>
            
            </a>
        </td>
        <td>Val</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43010.html">
            
                43010
            
            </a>
        </td>
        <td>
            <a href="../fields/43010.html">
            
                UnderlyingReturnRateValuationDateRelativeTo
            
            </a>
        </td>
        <td>@Reltv</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43011.html">
            
                43011
            
            </a>
        </td>
        <td>
            <a href="../fields/43011.html">
            
                UnderlyingReturnRateValuationDateOffsetPeriod
            
            </a>
        </td>
        <td>@OfstPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingReturnRateValuationDateOffsetUnit(43012) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43012.html">
            
                43012
            
            </a>
        </td>
        <td>
            <a href="../fields/43012.html">
            
                UnderlyingReturnRateValuationDateOffsetUnit
            
            </a>
        </td>
        <td>@OfstUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingReturnRateValuationDateOffsetPeriod(43011) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43013.html">
            
                43013
            
            </a>
        </td>
        <td>
            <a href="../fields/43013.html">
            
                UnderlyingReturnRateValuationDateOffsetDayType
            
            </a>
        </td>
        <td>@OfstDayTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43014.html">
            
                43014
            
            </a>
        </td>
        <td>
            <a href="../fields/43014.html">
            
                UnderlyingReturnRateValuationStartDateUnadjusted
            
            </a>
        </td>
        <td>@StartDtUnadj</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43015.html">
            
                43015
            
            </a>
        </td>
        <td>
            <a href="../fields/43015.html">
            
                UnderlyingReturnRateValuationStartDateRelativeTo
            
            </a>
        </td>
        <td>@StartDtReltv</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43016.html">
            
                43016
            
            </a>
        </td>
        <td>
            <a href="../fields/43016.html">
            
                UnderlyingReturnRateValuationStartDateOffsetPeriod
            
            </a>
        </td>
        <td>@StartDtOfstPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingReturnRateValuationStartDateOffsetUnit(43017) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43017.html">
            
                43017
            
            </a>
        </td>
        <td>
            <a href="../fields/43017.html">
            
                UnderlyingReturnRateValuationStartDateOffsetUnit
            
            </a>
        </td>
        <td>@StartDtOfstUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingReturnRateValuationStartDateOffsetPeriod(43016) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43018.html">
            
                43018
            
            </a>
        </td>
        <td>
            <a href="../fields/43018.html">
            
                UnderlyingReturnRateValuationStartDateOffsetDayType
            
            </a>
        </td>
        <td>@StartDtOfstDayTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43019.html">
            
                43019
            
            </a>
        </td>
        <td>
            <a href="../fields/43019.html">
            
                UnderlyingReturnRateValuationStartDateAdjusted
            
            </a>
        </td>
        <td>@StartDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43020.html">
            
                43020
            
            </a>
        </td>
        <td>
            <a href="../fields/43020.html">
            
                UnderlyingReturnRateValuationEndDateUnadjusted
            
            </a>
        </td>
        <td>@EndDtUnadj</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43021.html">
            
                43021
            
            </a>
        </td>
        <td>
            <a href="../fields/43021.html">
            
                UnderlyingReturnRateValuationEndDateRelativeTo
            
            </a>
        </td>
        <td>@EndDtReltv</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43022.html">
            
                43022
            
            </a>
        </td>
        <td>
            <a href="../fields/43022.html">
            
                UnderlyingReturnRateValuationEndDateOffsetPeriod
            
            </a>
        </td>
        <td>@EndDtOfstPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingReturnRateValuationEndDateOffsetUnit(43023) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43023.html">
            
                43023
            
            </a>
        </td>
        <td>
            <a href="../fields/43023.html">
            
                UnderlyingReturnRateValuationEndDateOffsetUnit
            
            </a>
        </td>
        <td>@EndDtOfstUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingReturnRateValuationEndDateOffsetPeriod(43022) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43024.html">
            
                43024
            
            </a>
        </td>
        <td>
            <a href="../fields/43024.html">
            
                UnderlyingReturnRateValuationEndDateOffsetDayType
            
            </a>
        </td>
        <td>@EndDtOfstDayTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43025.html">
            
                43025
            
            </a>
        </td>
        <td>
            <a href="../fields/43025.html">
            
                UnderlyingReturnRateValuationEndDateAdjusted
            
            </a>
        </td>
        <td>@EndDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43026.html">
            
                43026
            
            </a>
        </td>
        <td>
            <a href="../fields/43026.html">
            
                UnderlyingReturnRateValuationFrequencyPeriod
            
            </a>
        </td>
        <td>@FreqPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingReturnRateValuationFrequencyUnit(43027) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43027.html">
            
                43027
            
            </a>
        </td>
        <td>
            <a href="../fields/43027.html">
            
                UnderlyingReturnRateValuationFrequencyUnit
            
            </a>
        </td>
        <td>@FreqUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingReturnRateValuationFrequencyPeriod(43026) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43028.html">
            
                43028
            
            </a>
        </td>
        <td>
            <a href="../fields/43028.html">
            
                UnderlyingReturnRateValuationFrequencyRollConvention
            
            </a>
        </td>
        <td>@Roll</td>
        <td class="green center"></td>
        <td>When specified, this overrides the date roll convention defined in the UnderlyingDateAdjustment component in UnderlyingInstrument. The specified values would be specific to this instance of the return rate dates.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/43029.html">
            
                43029
            
            </a>
        </td>
        <td>
            <a href="../fields/43029.html">
            
                UnderlyingReturnRateValuationDateBusinessDayConvention
            
            </a>
        </td>
        <td>@BizDayCnvtn</td>
        <td class="green center"></td>
        <td>When specified, this overrides the business day convention defined in the UnderlyingDateAdjustment component in UnderlyingInstrument.  The specified value would be specific to payment stream return rate valuation dates.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingReturnRateValuationDateBusinessCenterGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingReturnRateValuationDateBusinessCenterGrp.html">
            
                <b>UnderlyingReturnRateValuationDateBusinessCenterGrp</b>
            
            </a>
        </td>
        <td>BizCtr</td>
        <td class="green center"></td>
        <td>When specified, this overrides the business day convention defined in the UnderlyingDateAdjustment component in UnderlyingInstrument.  The specified values would be specific to payment stream return rate valuation dates.</td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>