<html>
<head>
    <meta charset="utf-8" />
    
    <style type="text/css">
        th {
            word-wrap: break-word;
            background-color: #0f0263;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #0000ff 1px solid;
            border-bottom: #000000 1px solid;
            font-size: small;
            text-align: left;
            vertical-align: top;
            padding-bottom: 8px;
        }

        td {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
        }

        td.green {
            word-wrap: break-word;
            border-width: 1px;
            border-top: #000000 1px solid;
            border-left: #000000 1px solid;
            border-bottom: #000000 1px solid;
            background-color: #C0DCC0;
        }

        table {
            font-family: Verdana;
            font-size: x-small;

            width: 100%;
            table-layout: auto;
            border-collapse: collapse;
            border-width: 0;
            position: relative;
            margin-top: -1px;
        }

        table A:visited {
        }

        table A:link {
        }

        table A {
            color: #0f0263;
            text-decoration: none;
            font-weight: normal;
            font-size: x-small;
        }

        table A:hover {
            background-color: #0F0263;
            color: white;
        }

        td.center {
            text-align: center;
        }

        #copyright {
            color: grey;
            text-align: right;

            font-family: Verdana;
            font-size: x-small;
        }

        .description {
            white-space: pre-wrap; font-family: Arial, Verdana, Helvetica
        }

        
        

    </style>
    
</head>

<h2>FIX.5.0SP2 Components</h2>
<h3>UnderlyingPaymentScheduleGrp [type 'Component']</h3>
<p class="description">The UnderlyingPaymentScheduleGrp is a repeating subcomponent of the UnderlyingPaymentStream component used to specify notional and rate steps in the payment stream.</p>

<table>
<tr>
    
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>

</tr>


    <tr>
        <td class="green">
            <a href="../fields/40664.html">
            
                40664
            
            </a>
        </td>
        <td>
            <a href="../fields/40664.html">
            
                NoUnderlyingPaymentSchedules
            
            </a>
        </td>
        <td></td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40665.html">
            
                40665
            
            </a>
        </td>
        <td>
            <a href="../fields/40665.html">
            
                UnderlyingPaymentScheduleType
            
            </a>
        </td>
        <td>@Typ</td>
        <td class="green center"></td>
        <td>Required if NoUnderlyingPaymentScheules(40664) &gt; 0.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41881.html">
            
                41881
            
            </a>
        </td>
        <td>
            <a href="../fields/41881.html">
            
                UnderlyingPaymentScheduleXID
            
            </a>
        </td>
        <td>@XID</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41882.html">
            
                41882
            
            </a>
        </td>
        <td>
            <a href="../fields/41882.html">
            
                UnderlyingPaymentScheduleXIDRef
            
            </a>
        </td>
        <td>@XIDRef</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40666.html">
            
                40666
            
            </a>
        </td>
        <td>
            <a href="../fields/40666.html">
            
                UnderlyingPaymentScheduleStubType
            
            </a>
        </td>
        <td>@StubTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40667.html">
            
                40667
            
            </a>
        </td>
        <td>
            <a href="../fields/40667.html">
            
                UnderlyingPaymentScheduleStartDateUnadjusted
            
            </a>
        </td>
        <td>@StartDtUnadj</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40668.html">
            
                40668
            
            </a>
        </td>
        <td>
            <a href="../fields/40668.html">
            
                UnderlyingPaymentScheduleEndDateUnadjusted
            
            </a>
        </td>
        <td>@EndDtUnadj</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40669.html">
            
                40669
            
            </a>
        </td>
        <td>
            <a href="../fields/40669.html">
            
                UnderlyingPaymentSchedulePaySide
            
            </a>
        </td>
        <td>@PaySide</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40670.html">
            
                40670
            
            </a>
        </td>
        <td>
            <a href="../fields/40670.html">
            
                UnderlyingPaymentScheduleReceiveSide
            
            </a>
        </td>
        <td>@RcvSide</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40671.html">
            
                40671
            
            </a>
        </td>
        <td>
            <a href="../fields/40671.html">
            
                UnderlyingPaymentScheduleNotional
            
            </a>
        </td>
        <td>@Notl</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40672.html">
            
                40672
            
            </a>
        </td>
        <td>
            <a href="../fields/40672.html">
            
                UnderlyingPaymentScheduleCurrency
            
            </a>
        </td>
        <td>@Ccy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40673.html">
            
                40673
            
            </a>
        </td>
        <td>
            <a href="../fields/40673.html">
            
                UnderlyingPaymentScheduleRate
            
            </a>
        </td>
        <td>@Rt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40674.html">
            
                40674
            
            </a>
        </td>
        <td>
            <a href="../fields/40674.html">
            
                UnderlyingPaymentScheduleRateMultiplier
            
            </a>
        </td>
        <td>@RtMult</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40675.html">
            
                40675
            
            </a>
        </td>
        <td>
            <a href="../fields/40675.html">
            
                UnderlyingPaymentScheduleRateSpread
            
            </a>
        </td>
        <td>@Spread</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41883.html">
            
                41883
            
            </a>
        </td>
        <td>
            <a href="../fields/41883.html">
            
                UnderlyingPaymentScheduleRateCurrency
            
            </a>
        </td>
        <td>@RtCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41884.html">
            
                41884
            
            </a>
        </td>
        <td>
            <a href="../fields/41884.html">
            
                UnderlyingPaymentScheduleRateUnitOfMeasure
            
            </a>
        </td>
        <td>@RtUOM</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41885.html">
            
                41885
            
            </a>
        </td>
        <td>
            <a href="../fields/41885.html">
            
                UnderlyingPaymentScheduleRateConversionFactor
            
            </a>
        </td>
        <td>@RtFctr</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41886.html">
            
                41886
            
            </a>
        </td>
        <td>
            <a href="../fields/41886.html">
            
                UnderlyingPaymentScheduleRateSpreadType
            
            </a>
        </td>
        <td>@SpreadTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40676.html">
            
                40676
            
            </a>
        </td>
        <td>
            <a href="../fields/40676.html">
            
                UnderlyingPaymentScheduleRateSpreadPositionType
            
            </a>
        </td>
        <td>@SpreadPosTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40677.html">
            
                40677
            
            </a>
        </td>
        <td>
            <a href="../fields/40677.html">
            
                UnderlyingPaymentScheduleRateTreatment
            
            </a>
        </td>
        <td>@RtTrtmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40678.html">
            
                40678
            
            </a>
        </td>
        <td>
            <a href="../fields/40678.html">
            
                UnderlyingPaymentScheduleFixedAmount
            
            </a>
        </td>
        <td>@FixedAmt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40679.html">
            
                40679
            
            </a>
        </td>
        <td>
            <a href="../fields/40679.html">
            
                UnderlyingPaymentScheduleFixedCurrency
            
            </a>
        </td>
        <td>@FixedCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41887.html">
            
                41887
            
            </a>
        </td>
        <td>
            <a href="../fields/41887.html">
            
                UnderlyingPaymentScheduleSettlPeriodPrice
            
            </a>
        </td>
        <td>@SettlPx</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41888.html">
            
                41888
            
            </a>
        </td>
        <td>
            <a href="../fields/41888.html">
            
                UnderlyingPaymentScheduleSettlPeriodPriceCurrency
            
            </a>
        </td>
        <td>@SettlPxCcy</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41889.html">
            
                41889
            
            </a>
        </td>
        <td>
            <a href="../fields/41889.html">
            
                UnderlyingPaymentScheduleSettlPeriodPriceUnitOfMeasure
            
            </a>
        </td>
        <td>@SettlPxUOM</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41890.html">
            
                41890
            
            </a>
        </td>
        <td>
            <a href="../fields/41890.html">
            
                UnderlyingPaymentScheduleStepUnitOfMeasure
            
            </a>
        </td>
        <td>@StepUOM</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40680.html">
            
                40680
            
            </a>
        </td>
        <td>
            <a href="../fields/40680.html">
            
                UnderlyingPaymentScheduleStepFrequencyPeriod
            
            </a>
        </td>
        <td>@StepPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingPaymentScheduleStepFrequeencyUnit(40681) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40681.html">
            
                40681
            
            </a>
        </td>
        <td>
            <a href="../fields/40681.html">
            
                UnderlyingPaymentScheduleStepFrequencyUnit
            
            </a>
        </td>
        <td>@StepUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingPaymentScheduleStepFrequeencyPeriod(40680) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40682.html">
            
                40682
            
            </a>
        </td>
        <td>
            <a href="../fields/40682.html">
            
                UnderlyingPaymentScheduleStepOffsetValue
            
            </a>
        </td>
        <td>@StepVal</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40683.html">
            
                40683
            
            </a>
        </td>
        <td>
            <a href="../fields/40683.html">
            
                UnderlyingPaymentScheduleStepRate
            
            </a>
        </td>
        <td>@StepRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40684.html">
            
                40684
            
            </a>
        </td>
        <td>
            <a href="../fields/40684.html">
            
                UnderlyingPaymentScheduleStepOffsetRate
            
            </a>
        </td>
        <td>@StepOfstRt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40685.html">
            
                40685
            
            </a>
        </td>
        <td>
            <a href="../fields/40685.html">
            
                UnderlyingPaymentScheduleStepRelativeTo
            
            </a>
        </td>
        <td>@StepReltv</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingPaymentScheduleRateSourceGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingPaymentScheduleRateSourceGrp.html">
            
                <b>UnderlyingPaymentScheduleRateSourceGrp</b>
            
            </a>
        </td>
        <td>RtSrc</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40686.html">
            
                40686
            
            </a>
        </td>
        <td>
            <a href="../fields/40686.html">
            
                UnderlyingPaymentScheduleFixingDateUnadjusted
            
            </a>
        </td>
        <td>@FixngDtUnadj</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40687.html">
            
                40687
            
            </a>
        </td>
        <td>
            <a href="../fields/40687.html">
            
                UnderlyingPaymentScheduleWeight
            
            </a>
        </td>
        <td>@Wt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40688.html">
            
                40688
            
            </a>
        </td>
        <td>
            <a href="../fields/40688.html">
            
                UnderlyingPaymentScheduleFixingDateRelativeTo
            
            </a>
        </td>
        <td>@FixngReltv</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40689.html">
            
                40689
            
            </a>
        </td>
        <td>
            <a href="../fields/40689.html">
            
                UnderlyingPaymentScheduleFixingDateBusinessDayCnvtn
            
            </a>
        </td>
        <td>@FixngBizDayCnvtn</td>
        <td class="green center"></td>
        <td>When specified, this overrides the business day convention defined in the UnderlyingDateAdjustment component in UnderlyingInstrument.  The specified value would be specific to this instance of the underlying instrument&#39;s payment schedule.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingPaymentScheduleFixingDateBusinessCenterGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingPaymentScheduleFixingDateBusinessCenterGrp.html">
            
                <b>UnderlyingPaymentScheduleFixingDateBusinessCenterGrp</b>
            
            </a>
        </td>
        <td>FixngBizCtr</td>
        <td class="green center"></td>
        <td>When specified, this overrides the business centers defined in the UnderlyingDateAdjustment component in UnderlyingInstrument.  The specified values would be specific to this instance of the underlying instrument&#39;s payment schedule.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40691.html">
            
                40691
            
            </a>
        </td>
        <td>
            <a href="../fields/40691.html">
            
                UnderlyingPaymentScheduleFixingDateOffsetPeriod
            
            </a>
        </td>
        <td>@FixngPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingPaymentScheduleFixingDateOffsetUnit(40692) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40692.html">
            
                40692
            
            </a>
        </td>
        <td>
            <a href="../fields/40692.html">
            
                UnderlyingPaymentScheduleFixingDateOffsetUnit
            
            </a>
        </td>
        <td>@FixngUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingPaymentScheduleFixingDateOffsetPeriod(40691) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40693.html">
            
                40693
            
            </a>
        </td>
        <td>
            <a href="../fields/40693.html">
            
                UnderlyingPaymentScheduleFixingDateOffsetDayType
            
            </a>
        </td>
        <td>@FixngDayTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41891.html">
            
                41891
            
            </a>
        </td>
        <td>
            <a href="../fields/41891.html">
            
                UnderlyingPaymentScheduleFixingDayDistribution
            
            </a>
        </td>
        <td>@FixngDayDistrib</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41892.html">
            
                41892
            
            </a>
        </td>
        <td>
            <a href="../fields/41892.html">
            
                UnderlyingPaymentScheduleFixingDayCount
            
            </a>
        </td>
        <td>@FixngDayCnt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40694.html">
            
                40694
            
            </a>
        </td>
        <td>
            <a href="../fields/40694.html">
            
                UnderlyingPaymentScheduleFixingDateAdjusted
            
            </a>
        </td>
        <td>@FixngDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingPaymentScheduleFixingDayGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingPaymentScheduleFixingDayGrp.html">
            
                <b>UnderlyingPaymentScheduleFixingDayGrp</b>
            
            </a>
        </td>
        <td>FixngDay</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41893.html">
            
                41893
            
            </a>
        </td>
        <td>
            <a href="../fields/41893.html">
            
                UnderlyingPaymentScheduleFixingLagPeriod
            
            </a>
        </td>
        <td>@FixngLagPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingPaymentScheduleFixingLagUnit(41894) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41894.html">
            
                41894
            
            </a>
        </td>
        <td>
            <a href="../fields/41894.html">
            
                UnderlyingPaymentScheduleFixingLagUnit
            
            </a>
        </td>
        <td>@FixngLagUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingPaymentScheduleFixingLagPeriod(41893) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41895.html">
            
                41895
            
            </a>
        </td>
        <td>
            <a href="../fields/41895.html">
            
                UnderlyingPaymentScheduleFixingFirstObservationDateOffsetPeriod
            
            </a>
        </td>
        <td>@FixngFirstObsvtnPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingPaymentScheduleFixingFirstObservationDateOffsetUnit(41896) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/41896.html">
            
                41896
            
            </a>
        </td>
        <td>
            <a href="../fields/41896.html">
            
                UnderlyingPaymentScheduleFixingFirstObservationDateOffsetUnit
            
            </a>
        </td>
        <td>@FixngFirstObsvtnUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingPaymentScheduleFixingFirstObservationDateOffsetPeriod(41895) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40695.html">
            
                40695
            
            </a>
        </td>
        <td>
            <a href="../fields/40695.html">
            
                UnderlyingPaymentScheduleFixingTime
            
            </a>
        </td>
        <td>@FixngTm</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40696.html">
            
                40696
            
            </a>
        </td>
        <td>
            <a href="../fields/40696.html">
            
                UnderlyingPaymentScheduleFixingTimeBusinessCenter
            
            </a>
        </td>
        <td>@FixngTmBizCtr</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40697.html">
            
                40697
            
            </a>
        </td>
        <td>
            <a href="../fields/40697.html">
            
                UnderlyingPaymentScheduleInterimExchangePaymentDateRelativeTo
            
            </a>
        </td>
        <td>@IntrmExchDtReltv</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40698.html">
            
                40698
            
            </a>
        </td>
        <td>
            <a href="../fields/40698.html">
            
                UnderlyingPaymentScheduleInterimExchangeDatesBusinessDayConvention
            
            </a>
        </td>
        <td>@IntrmExchDtBizDayCnvtn</td>
        <td class="green center"></td>
        <td>When specified, this overrides the business day convention defined in the UnderlyingDateAdjustment component in UnderlyingInstrument.  The specified value would be specific to this instance of the underlying instrument&#39;s payment schedule.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../components/UnderlyingPaymentScheduleInterimExchangeDateBusinessCenterGrp.html">
            
                <b>Component</b>
            
            </a>
        </td>
        <td>
            <a href="../components/UnderlyingPaymentScheduleInterimExchangeDateBusinessCenterGrp.html">
            
                <b>UnderlyingPaymentScheduleInterimExchangeDateBusinessCenterGrp</b>
            
            </a>
        </td>
        <td>IntrmExchDtBizCtr</td>
        <td class="green center"></td>
        <td>When specified, this overrides the business centers defined in the UnderlyingDateAdjustment component in UnderlyingInstrument.  The specified values would be specific to this instance of the underlying instrument&#39;s payment schedule.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40700.html">
            
                40700
            
            </a>
        </td>
        <td>
            <a href="../fields/40700.html">
            
                UnderlyingPaymentScheduleInterimExchangeDatesOffsetPeriod
            
            </a>
        </td>
        <td>@IntrmExchDtPeriod</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingPaymentScheduleInterimExchangeDatesOffsetUnit(40701) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40701.html">
            
                40701
            
            </a>
        </td>
        <td>
            <a href="../fields/40701.html">
            
                UnderlyingPaymentScheduleInterimExchangeDatesOffsetUnit
            
            </a>
        </td>
        <td>@IntrmExchDtUnit</td>
        <td class="green center"></td>
        <td>Conditionally required when UnderlyingPaymentScheduleInterimExchangeDatesOffsetPeriod(40700) is specified.</td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40702.html">
            
                40702
            
            </a>
        </td>
        <td>
            <a href="../fields/40702.html">
            
                UnderlyingPaymentScheduleInterimExchangeDatesOffsetDayType
            
            </a>
        </td>
        <td>@IntrmExchDayTyp</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>

    <tr>
        <td class="green">
            <a href="../fields/40703.html">
            
                40703
            
            </a>
        </td>
        <td>
            <a href="../fields/40703.html">
            
                UnderlyingPaymentScheduleInterimExchangeDateAdjusted
            
            </a>
        </td>
        <td>@IntrmExchDt</td>
        <td class="green center"></td>
        <td></td>
        <td class="green"></td>
    </tr>


</table>



    
    <p id="copyright">Copyright (c) FIX Protocol Ltd. All Rights Reserved.</p>
    

</html>