{% extends "base_fiximate.html" %}
{% block page_header %}
<h2>{{ repository.version }} {{ repository.type|capitalize }}</h2>
<h3>{{ message.pretty_name() }} [type '{{ message.pretty_type() }}']</h3>
<p class="description">{{ message.Description }}</p>
{% endblock %}
{% block table_header %}
    <th>Field/Component</th>
    <th>Field Name</th>
    <th>FIXML name</th>
    <th>Req'd</th>
    <th>Comments</th>
    <th>Depr.</th>
{% endblock %}
{% block table_body %}
{% for msgcontent in lookup.msgcontents(message.ComponentID) %}
    <tr>
        <td class="green">
            <a href="{{ stylify.linkify(msgcontent) | safe }}">
            {{ stylify.boldify(msgcontent, msgcontent.pretty_type()) | safe }}
            </a>
        </td>
        <td>
            <a href="{{ stylify.linkify(msgcontent) | safe }}">
            {{ stylify.boldify(msgcontent, msgcontent.FieldName) | safe }}
            </a>
        </td>
        <td>{{ msgcontent.AbbrName }}</td>
        <td class="green center">{% if msgcontent.Reqd %}✔{% endif %}</td>
        <td>{{ msgcontent.Description }}</td>
        <td class="green">{{ msgcontent.attrib['deprecated'] }}</td>
    </tr>
{% endfor %}
{% endblock %}
